<!-- COPYING FROM GENERAL-EDUCATION -->
<app-nav-bar></app-nav-bar>
<div class="body">
     <!-- COPYING HTML -->
     <div class="home-test-mode-container">
        <p class="home-test-mode-container-text">საიტი მუშაობს სატესტო რეჟიმში</p>
    </div>

    <div class="posts-page-title-side">
        <h1 class="posts-page-title">სერვისები</h1>
        <div class="posts-page-blue-line"></div>
    </div>
    <!-- COPYING HTML -->

    <div class="general-education-container">
        <div class="general-education-container-title-side">
            <a class="general-education-link" href="/services/1">
                <div class="general-education-title-side-card">
                    <p class="general-education-container-title">სკოლამდელი განათლება</p>
                </div>               
            </a>
            <a class="general-education-link" href="/services/9">
                <div class="general-education-title-side-card">
                    <p class="general-education-container-title">ზოგადი განათლება</p>
                </div>              
            </a>
            <a class="general-education-link" href="/services/3">
                <div class="general-education-title-side-card">
                    <p class="general-education-container-title">პროფესიული განათლება</p>
                </div>            
            </a>
            <a class="general-education-link" href="/services/10">
                <div class="general-education-title-side-card">
                    <p class="general-education-container-title">უმაღლესი განათლება</p>
                </div>           
            </a>
            <a class="general-education-link" href="/services/7">
                <div class="general-education-title-side-card-main">
                    <p class="general-education-container-title">სხვა</p>
                </div>             
            </a>
        </div>
        <!-- COPYING FROM GENERAL-EDUCATION -->
        <div class="services-container">
              <!-- COPYING CARD FROM POSTS PAGE -->
           
              <div class="no-data-container">
                <div class="no-data-cube"><i class="bi bi-search"></i></div>
                <p class="no-data-container-title">მონაცემები ვერ მოიძებნა</p>
              </div>
              <!-- COPYING CARD FROM POSTS PAGE -->
        </div>
    </div>
</div>

 
 <app-footer></app-footer>
