.footer {
  background-color: rgb(11, 11, 11);
  width: 100%;
  height: 410px;
  opacity: 0.9;
}
.footer .footer-left-and-right-side-container {
  display: flex;
  width: 100%;
  height: 300px;
}
.footer .footer-left-and-right-side-container .footer-left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1080px;
}
.footer .footer-left-and-right-side-container .footer-left-side .footer-map {
  width: 890px;
  height: 230px;
  border-radius: 20px;
  margin-left: 150px;
}
.footer .footer-left-and-right-side-container .footer-right-side {
  display: flex;
  flex-direction: column;
  width: 560px;
  gap: 10px;
  margin-left: 40px;
}
.footer .footer-left-and-right-side-container .footer-right-side .footer-title {
  color: #fff;
  font-size: 22px;
}
.footer .footer-left-and-right-side-container .footer-right-side .footer-address-data-container {
  display: flex;
  margin-left: 10px;
  font-size: 15px;
  font-weight: 600;
  opacity: 0.7;
  align-items: center;
  width: 380px;
  color: #fff;
  gap: 20px;
  height: 35px;
}
.footer .footer-left-and-right-side-container .footer-right-side .footer-open-time-data-container {
  display: flex;
  margin-left: 10px;
  font-size: 15px;
  font-weight: 600;
  opacity: 0.7;
  align-items: center;
  width: 380px;
  color: #fff;
  gap: 20px;
  height: 35px;
}
.footer .footer-left-and-right-side-container .footer-right-side .footer-number-data-container .footer-phone-link {
  text-decoration: none;
  display: flex;
  margin-left: 10px;
  font-size: 15px;
  font-weight: 600;
  opacity: 0.7;
  align-items: center;
  width: 380px;
  color: #fff;
  gap: 20px;
  height: 35px;
  transition: 500ms;
}
.footer .footer-left-and-right-side-container .footer-right-side .footer-number-data-container .footer-phone-link:hover {
  color: rgb(58, 117, 255);
}
.footer .footer-left-and-right-side-container .footer-right-side .footer-email-data-container .footer-mail-link {
  display: flex;
  margin-left: 10px;
  font-size: 15px;
  font-weight: 600;
  opacity: 0.7;
  align-items: center;
  width: 380px;
  color: #fff;
  gap: 20px;
  height: 35px;
  transition: 500ms;
  text-decoration: none;
}
.footer .footer-left-and-right-side-container .footer-right-side .footer-email-data-container .footer-mail-link:hover {
  color: rgb(63, 121, 255);
}
.footer .footer-left-and-right-side-container .footer-right-side .footer-links-container {
  display: flex;
  margin-left: 10px;
  font-size: 15px;
  font-weight: 600;
  opacity: 0.7;
  align-items: center;
  width: 380px;
  color: #fff;
  gap: 20px;
  height: 35px;
}
.footer .footer-left-and-right-side-container .footer-right-side .footer-links-container .footer-link-facebook {
  background-color: rgb(59, 59, 74);
  font-size: 14px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: blue;
}
.footer .footer-left-and-right-side-container .footer-right-side .footer-links-container .footer-link-youtube {
  background-color: rgb(59, 59, 74);
  font-size: 14px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: red;
}
.footer .footer-bottom-side {
  border-top: solid 1px #3d3d3d;
  height: 110px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 200px;
}
.footer .footer-bottom-side .footer-bottom-side-title {
  color: #fff;
}
.footer .footer-bottom-side .footer-bottom-side-container {
  display: flex;
  gap: 10px;
  color: #fff;
  justify-content: center;
  align-items: center;
}

:host-context([data-theme=light]) .footer {
  border-top: solid 1px rgba(83, 83, 83, 0.2823529412);
  background-color: #fff;
}
:host-context([data-theme=light]) .footer .footer-left-and-right-side-container {
  display: flex;
  width: 100%;
  height: 300px;
}
:host-context([data-theme=light]) .footer .footer-left-and-right-side-container .footer-left-side {
  display: flex;
  justify-content: center;
  align-items: center;
}
:host-context([data-theme=light]) .footer .footer-left-and-right-side-container .footer-left-side .footer-map {
  width: 890px;
  height: 230px;
  border-radius: 20px;
  margin-left: 150px;
}
:host-context([data-theme=light]) .footer .footer-left-and-right-side-container .footer-right-side .footer-title {
  color: #000;
}
:host-context([data-theme=light]) .footer .footer-left-and-right-side-container .footer-right-side .footer-address-data-container {
  color: #000;
}
:host-context([data-theme=light]) .footer .footer-left-and-right-side-container .footer-right-side .footer-open-time-data-container {
  color: #000;
}
:host-context([data-theme=light]) .footer .footer-left-and-right-side-container .footer-right-side .footer-phone-link {
  color: #000;
}
:host-context([data-theme=light]) .footer .footer-left-and-right-side-container .footer-right-side .footer-mail-link {
  color: #000;
}
:host-context([data-theme=light]) .footer .footer-left-and-right-side-container .footer-right-side .footer-links-container {
  display: flex;
  margin-left: 10px;
  font-size: 15px;
  font-weight: 600;
  opacity: 0.7;
  align-items: center;
  width: 380px;
  color: #fff;
  gap: 20px;
  height: 35px;
}
:host-context([data-theme=light]) .footer .footer-left-and-right-side-container .footer-right-side .footer-links-container .footer-link-facebook {
  background-color: rgb(150, 150, 150);
  color: blue;
}
:host-context([data-theme=light]) .footer .footer-left-and-right-side-container .footer-right-side .footer-links-container .footer-link-youtube {
  background-color: rgb(150, 150, 150);
  color: red;
}
:host-context([data-theme=light]) .footer .footer-bottom-side {
  border-top: solid 1px rgba(61, 61, 61, 0.2470588235);
}
:host-context([data-theme=light]) .footer .footer-bottom-side .footer-bottom-side-title {
  color: #000;
}
:host-context([data-theme=light]) .footer .footer-bottom-side .footer-bottom-side-container {
  color: #000;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  :host-context([data-theme=light]) .footer {
    width: 100%;
    height: 480px;
  }
  :host-context([data-theme=light]) .footer .footer-left-and-right-side-container {
    flex-direction: row;
    width: 100%;
    height: 350px;
    gap: 1px;
  }
  :host-context([data-theme=light]) .footer .footer-left-and-right-side-container .footer-left-side {
    width: 480px;
  }
  :host-context([data-theme=light]) .footer .footer-left-and-right-side-container .footer-left-side .footer-map {
    width: 450px;
    margin-left: 1px;
  }
  :host-context([data-theme=light]) .footer .footer-left-and-right-side-container .footer-right-side {
    flex-direction: column;
    width: 100px;
  }
  :host-context([data-theme=light]) .footer .footer-left-and-right-side-container .footer-right-side .footer-title {
    width: 200px;
    margin-top: 30px;
  }
  :host-context([data-theme=light]) .footer .footer-left-and-right-side-container .footer-right-side .footer-address-data-container {
    width: 220px;
    height: 50px;
  }
  :host-context([data-theme=light]) .footer .footer-left-and-right-side-container .footer-right-side .footer-open-time-data-container {
    width: 180px;
  }
  :host-context([data-theme=light]) .footer .footer-left-and-right-side-container .footer-right-side .footer-number-data-container .footer-phone-link {
    width: 180px;
  }
  :host-context([data-theme=light]) .footer .footer-left-and-right-side-container .footer-right-side .footer-email-data-container .footer-mail-link {
    width: 180px;
  }
  :host-context([data-theme=light]) .footer .footer-left-and-right-side-container .footer-right-side .footer-links-container {
    width: 180px;
  }
  :host-context([data-theme=light]) .footer .footer-bottom-side {
    height: 90px;
    flex-direction: row;
    gap: 100px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 480px) {
  :host-context([data-theme=light]) .footer {
    width: 100%;
    height: 800px;
  }
  :host-context([data-theme=light]) .footer .footer-left-and-right-side-container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 580px;
    gap: 40px;
  }
  :host-context([data-theme=light]) .footer .footer-left-and-right-side-container .footer-left-side {
    width: 480px;
  }
  :host-context([data-theme=light]) .footer .footer-left-and-right-side-container .footer-left-side .footer-map {
    width: 450px;
    margin-left: 1px;
  }
  :host-context([data-theme=light]) .footer .footer-left-and-right-side-container .footer-right-side {
    flex-direction: column;
    width: 100px;
  }
  :host-context([data-theme=light]) .footer .footer-left-and-right-side-container .footer-right-side .footer-title {
    width: 200px;
  }
  :host-context([data-theme=light]) .footer .footer-left-and-right-side-container .footer-right-side .footer-address-data-container {
    width: 320px;
  }
  :host-context([data-theme=light]) .footer .footer-left-and-right-side-container .footer-right-side .footer-open-time-data-container {
    width: 180px;
  }
  :host-context([data-theme=light]) .footer .footer-left-and-right-side-container .footer-right-side .footer-number-data-container .footer-phone-link {
    width: 180px;
  }
  :host-context([data-theme=light]) .footer .footer-left-and-right-side-container .footer-right-side .footer-email-data-container .footer-mail-link {
    width: 180px;
  }
  :host-context([data-theme=light]) .footer .footer-left-and-right-side-container .footer-right-side .footer-links-container {
    width: 180px;
  }
  :host-context([data-theme=light]) .footer .footer-bottom-side {
    height: 180px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    width: 480px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .footer {
    width: 100%;
    height: 480px;
  }
  .footer .footer-left-and-right-side-container {
    flex-direction: row;
    width: 100%;
    height: 350px;
    gap: 1px;
  }
  .footer .footer-left-and-right-side-container .footer-left-side {
    width: 480px;
  }
  .footer .footer-left-and-right-side-container .footer-left-side .footer-map {
    width: 450px;
    margin-left: 1px;
  }
  .footer .footer-left-and-right-side-container .footer-right-side {
    flex-direction: column;
    width: 100px;
  }
  .footer .footer-left-and-right-side-container .footer-right-side .footer-title {
    width: 200px;
    margin-top: 30px;
  }
  .footer .footer-left-and-right-side-container .footer-right-side .footer-address-data-container {
    width: 220px;
    height: 50px;
  }
  .footer .footer-left-and-right-side-container .footer-right-side .footer-open-time-data-container {
    width: 180px;
  }
  .footer .footer-left-and-right-side-container .footer-right-side .footer-number-data-container .footer-phone-link {
    width: 180px;
  }
  .footer .footer-left-and-right-side-container .footer-right-side .footer-email-data-container .footer-mail-link {
    width: 180px;
  }
  .footer .footer-left-and-right-side-container .footer-right-side .footer-links-container {
    width: 180px;
  }
  .footer .footer-bottom-side {
    height: 90px;
    flex-direction: row;
    gap: 100px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 480px) {
  .footer {
    width: 100%;
    height: 800px;
  }
  .footer .footer-left-and-right-side-container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 580px;
    gap: 40px;
  }
  .footer .footer-left-and-right-side-container .footer-left-side {
    width: 480px;
  }
  .footer .footer-left-and-right-side-container .footer-left-side .footer-map {
    width: 450px;
    margin-left: 1px;
  }
  .footer .footer-left-and-right-side-container .footer-right-side {
    flex-direction: column;
    width: 100px;
  }
  .footer .footer-left-and-right-side-container .footer-right-side .footer-title {
    width: 200px;
  }
  .footer .footer-left-and-right-side-container .footer-right-side .footer-address-data-container {
    width: 320px;
  }
  .footer .footer-left-and-right-side-container .footer-right-side .footer-open-time-data-container {
    width: 180px;
  }
  .footer .footer-left-and-right-side-container .footer-right-side .footer-number-data-container .footer-phone-link {
    width: 180px;
  }
  .footer .footer-left-and-right-side-container .footer-right-side .footer-email-data-container .footer-mail-link {
    width: 180px;
  }
  .footer .footer-left-and-right-side-container .footer-right-side .footer-links-container {
    width: 180px;
  }
  .footer .footer-bottom-side {
    height: 180px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    width: 480px;
    margin-top: 20px;
  }
}/*# sourceMappingURL=footer.component.css.map */