<app-nav-bar></app-nav-bar>
<div style="height: 900px;" class="body">
<!-- COPYING HTML -->
<div class="home-test-mode-container">
    <p class="home-test-mode-container-text">საიტი მუშაობს სატესტო რეჟიმში</p>
</div>

<button class="postsDetails-page-back-button" (click)="goBack()">
    <i class="bi bi-arrow-left-short"></i> </button>
<div class="posts-page-title-side">
    <!-- COPYING BUTTON -->
    
    <!-- COPYING BUTTON -->
    <h1 class="posts-page-title">ვაკანსიები</h1>
    <div class="posts-page-blue-line"></div>
</div>
<!-- COPYING HTML -->
 <div class="vacancies-inside-page-container">
    <h1 class="vacancies-inside-page-title">ადმინისტრაციული და სამართლებრივი უზრუვნელყოფის სამსახურის სტაჟირება - ვაკანსიის N 88244</h1>
    <p class="vacancies-inside-page-date">02 აგვისტო/08 აგვისტო</p>
    <p class="vacancies-inside-page-description">განათლების მართვის საინფორმაციო სისტემის  ადმინისტრაციული და სამართლებრივი უზრუვნელყოფის სამსახურში დაგხვდებათ მეგობრული გარემო და განვითარებაზე ორიენტირებული გუნდი. ანაზღაურებადი სტაჟირების ხანგრძლივობაა 4 თვე.</p>
    <p class="vacancies-inside-page-data">შესასრულებელი ამოცანები და ფუნქციები:</p>
    <p class="vacancies-inside-page-first-data">ა) ადმინისტრაციული და სამართლებრივი უზრუნველყოფის სამსახურის საქმიანობის განხორციელების პროცესში მონაწილეობის მიღება;</p>
    <p class="vacancies-inside-page-main-data">ბ) საქართველოს კანონმდებლობით დადგენილი წესით, ინდივიდუალურ-ადმინისტრაციული სამართლებრივი აქტების, ხელშეკრულებების და მემორანდუმების პროექტების მომზადებაში მონაწილეობის მიღება;</p>
    <p class="vacancies-inside-page-main-data">გ) ადამიანური რესურსების მართვასთან დაკავშირებული საქმიანობის განხორციელების პროცესში მონაწილეობის მიღება;</p>
    <p class="vacancies-inside-page-main-data">დ) საქართველოს კანონმდებლობით დადგენილი წესით, შესაბამის ელექტრონულ სისტემებში მონაცემების და დოკუმენტების ატვირთვა/რეგისტრაცია;</p>
    <p class="vacancies-inside-page-main-data">ე) საქმისწარმოების მართვის მიმართულებით სამუშაო პროცესში მონაწილეობა;</p>
    <p class="vacancies-inside-page-main-data">ვ) ადმინისტრაციული და სამართლებრივი უზრუნველყოფის სამსახურის კომპეტენციის ფარგლებში სხვა დამხმარე ამოცანების შესრულება.</p>
    <p style="margin-top: 20px;" class="vacancies-inside-page-main-data-title">დეტალური ინფორმაცია ვაკანტური ადგილის შესახებ იხილეთ ბმულის  სახით</p>
    <a class="vacancies-inside-page-link" href="https://hr.gov.ge/JobProvider/UserOrgVaks/Details/88244?active=1"><p>https://hr.gov.ge/JobProvider/UserOrgVaks/Details/88244?active=1</p></a>
 </div>
 <!-- COPYING ICONS -->
 <div class="posts-inside-page-links-container">
    <p>გაზიარება:</p>
    <div class="posts-page-icons">
    <div class="vacancies-page-first-icon"><i class="bi bi-facebook" (click)="onFacebookClick()"></i></div>  
    <div class="vacancies-page-second-icon"> <i class="bi bi-linkedin" (click)="onLinkedInClick()"></i>   </div>      
    </div>     
 </div>
 <!-- COPYING ICONS -->
</div>
<app-footer></app-footer>
