<app-nav-bar></app-nav-bar>
<div class="body">
 <!-- COPYING HTML -->
 <div class="home-test-mode-container">
    <p class="home-test-mode-container-text">საიტი მუშაობს სატესტო რეჟიმში</p>
</div>

<div class="posts-page-title-side">
    <h1 class="posts-page-title">ჩვენი გუნდი</h1>
    <div class="posts-page-blue-line"></div>
</div>
<!-- COPYING HTML -->
 <div class="management-page-container">
    <div class="management-page-container-header-side">
           <a class="management-page-management-link" href="/management">
               <button class="management-page-management-button">მენეჯმენტი</button>
           </a>
           <!-- COPYING -->
           <a class="management-page-management-link" href="/departments">
            <button class="management-page-both-button">სამსახურები</button>
        </a>
        <a class="management-page-management-link" href="/structure">
            <button class="management-page-both-button">სტრუქტურა</button>
        </a>
           <!-- COPYING -->
    </div>
    <div class="management-page-container-body-side">
        <div class="management-page-card">
            <img class="management-page-card-image" src="https://emis-api.emis.ge/storage/media/614/0E0A7836.webp" alt="Image">
            <h1 class="management-page-card-title">დიმიტრი ბერიძე</h1>
            <p class="management-page-card-title-description">უფროსი</p>
            <p class="management-page-card-description">სსიპ განათლების მართვის საინფორმაციო სისტემა</p>
            <!-- COPYING -->
            <div class="posts-page-icons">
              <div class="facebook-icon"> <i class="bi bi-facebook" (click)="onFacebookClick()"></i>  </div>  
             <div class="linkin-icon"> <i class="bi bi-linkedin" (click)="onLinkedInClick()"></i>  </div>                
              </div> 
             <!-- COPYING -->           
        </div>
         <!-- COPYING CARDS -->
         <div class="management-page-card">
            <img class="management-page-card-image" src="https://emis-api.emis.ge/storage/media/613/0E0A7849.webp" alt="Image">
            <h1 class="management-page-card-title">მაია სიმონიძე</h1>
            <p class="management-page-card-title-description">უფროსის მოადგილე</p>
            <p class="management-page-card-description">სსიპ განათლების მართვის საინფორმაციო სისტემა</p>
            <!-- COPYING -->
            <div class="posts-page-icons">
              <div class="facebook-icon"> <i class="bi bi-facebook" (click)="onFacebookClick()"></i>  </div>  
             <div class="linkin-icon"> <i class="bi bi-linkedin" (click)="onLinkedInClick()"></i>  </div>                
              </div> 
             <!-- COPYING -->           
        </div>
        <div class="management-page-card">
            <img class="management-page-card-image" src="https://emis-api.emis.ge/storage/media/1120/0E0A7930.webp" alt="Image">
            <h1 class="management-page-card-title">დავით ტატიშვილი</h1>
            <p class="management-page-card-title-description">უფროსის მოადგილე</p>
            <p class="management-page-card-description">სსიპ განათლების მართვის საინფორმაციო სისტემა</p>
            <!-- COPYING -->
            <div class="posts-page-icons">
              <div class="facebook-icon"> <i class="bi bi-facebook" (click)="onFacebookClick()"></i>  </div>  
             <div class="linkin-icon"> <i class="bi bi-linkedin" (click)="onLinkedInClick()"></i>  </div>                
              </div> 
             <!-- COPYING -->           
        </div>
              <!-- COPYING CARDs -->
    </div>
 </div>
</div>
<app-footer></app-footer>