<app-nav-bar></app-nav-bar>
<div class="body">
   <div class="home-test-mode-container">
    <p class="home-test-mode-container-text">საიტი მუშაობს სატესტო რეჟიმში</p>
</div>
<div class="posts-page-title-section">
    <button class="postsDetails-page-back-button" (click)="goBack()">
      <i class="bi bi-arrow-left-short"></i>
    </button>
    
      <div class="posts-page-title-side">
          <h1 class="posts-page-title">სიახლე</h1>
          <div class="posts-page-blue-line"></div>
      </div>
     
  </div>

<div class="posts-inside-page-container" *ngIf="postDetails">
    <img class="posts-inside-page-image" [src]="postDetails.image" alt="Post Image">
    <p class="posts-inside-page-date">{{ postDetails.published_at }}</p>
    <h1 class="posts-inside-page-title">{{ postDetails.title }}</h1>
    <div class="posts-inside-page-line"></div>
    <div class="posts-inside-page-sizeing-container">
      <button class="posts-inside-page-button" (click)="decreaseFontSize()">-</button>
      <div class="posts-inside-page-icon"><i class="bi bi-fonts"></i></div>
      <button class="posts-inside-page-button" (click)="increaseFontSize()">+</button>
    </div>
    <!-- <p class="posts-inside-page-summary">{{ postDetails.summary }}</p> -->
    <div  class="posts-inside-page-description" [innerHTML]="formattedDescription"></div>
    <div class="posts-inside-page-links-container">
      <p>გაზიარება:</p>
      <div class="posts-page-icons">
        <i class="bi bi-facebook" (click)="onFacebookClick()"></i>
        <i class="bi bi-linkedin" (click)="onLinkedInClick()"></i>
        
      </div>
      
   </div>
  </div>
     
</div>
<app-footer></app-footer>
