<!-- COPYING FROM GENERAL-EDUCATION -->
<app-nav-bar></app-nav-bar>
<div class="body">
     <!-- COPYING HTML -->
     <div class="home-test-mode-container">
        <p class="home-test-mode-container-text">საიტი მუშაობს სატესტო რეჟიმში</p>
    </div>

    <div class="posts-page-title-side">
        <h1 class="posts-page-title">სერვისები</h1>
        <div class="posts-page-blue-line"></div>
    </div>
    <!-- COPYING HTML -->

    <div class="general-education-container">
        <div class="general-education-container-title-side">
            <a class="general-education-link" href="/services/1">
                <div class="general-education-title-side-card">
                    <p class="general-education-container-title">სკოლამდელი განათლება</p>
                </div>               
            </a>
            <a class="general-education-link" href="/services/9">
                <div class="general-education-title-side-card">
                    <p class="general-education-container-title">ზოგადი განათლება</p>
                </div>              
            </a>
            <a class="general-education-link" href="/services/3">
                <div class="general-education-title-side-card-main">
                    <p class="general-education-container-title">პროფესიული განათლება</p>
                </div>            
            </a>
            <a class="general-education-link" href="/services/10">
                <div class="general-education-title-side-card">
                    <p class="general-education-container-title">უმაღლესი განათლება</p>
                </div>           
            </a>
            <a class="general-education-link" href="/services/7">
                <div class="general-education-title-side-card">
                    <p class="general-education-container-title">სხვა</p>
                </div>             
            </a>
        </div>
        <!-- COPYING FROM GENERAL-EDUCATION -->
        <div class="services-container">
              <!-- COPYING CARD FROM POSTS PAGE -->
              <a  class="posts-page-products-card-link"[routerLink]="['/products-service-inside-page', 34]">
                <div class="posts-page-products-card">
                  <div class="posts-page-card-left-side">
                    <img class="posts-page-card-image" src="https://emis-api.emis.ge/storage/media/1248/%E1%83%92%E1%83%90%E1%83%9C%E1%83%A4%E1%83%90%E1%83%A1%E1%83%94%E1%83%91%E1%83%90-%E1%83%9E%E1%83%90%E1%83%A2%E1%83%90%E1%83%A0%E1%83%90.jpg" alt="Image">
                  </div>
                  <div class="posts-page-card-right-side">
                    <p class="posts-page-card-date">10 ივლისი 2024</p>
                    <h1 class="posts-page-card-title">პროფესიული საგანმანათლებლო პროგრამის შემადგენელი მოდულის განფასება და...</h1>
                    <p class="posts-page-card-description">პროფესიული საგანმანათლებლო პროგრამის შემადგენელი მოდულის განფასება და ვაუჩერული დაფინანსების გაანგარიშება</p>
                    <div class="posts-page-card-link-container">
                      <p class="posts-page-card-link">სრულიად წაკითხვა</p>
                      <i style="margin-top: 7px;" class="bi bi-chevron-right"></i>
                    </div>
                   
                  </div>
                </div>
              </a>
              <a  class="posts-page-products-card-link" [routerLink]="['/products-service-inside-page', 33]">
                <div class="posts-page-products-card">
                  <div class="posts-page-card-left-side">
                    <img class="posts-page-card-image" src="https://emis-api.emis.ge/storage/media/1246/agiareba-patara.jpg" alt="Image">
                  </div>
                  <div class="posts-page-card-right-side">
                    <p class="posts-page-card-date">10 ივლისი 2024</p>
                    <h1 class="posts-page-card-title">არაფორმალური განათლების აღიარება</h1>
                    <p class="posts-page-card-description"></p>
                    <div class="posts-page-card-link-container">
                      <p class="posts-page-card-link">სრულიად წაკითხვა</p>
                      <i style="margin-top: 7px;" class="bi bi-chevron-right"></i>
                   </div>               
                  </div>
                </div>
              </a>
              <a  class="posts-page-products-card-link"[routerLink]="['/products-service-inside-page', 32]">
                <div class="posts-page-products-card">
                  <div class="posts-page-card-left-side">
                    <img class="posts-page-card-image" src="https://emis-api.emis.ge/storage/media/1245/patara-foto-1.jpg" alt="Image">
                  </div>
                  <div class="posts-page-card-right-side">
                    <p class="posts-page-card-date">10 ივლისი 2024</p>
                    <h1 class="posts-page-card-title">პროფესიული მომზადებისა და პროფესიული გადამზადების პროგრამებზე მიღების...</h1>
                    <p class="posts-page-card-description">პროფესიული მომზადებისა და პროფესიული გადამზადების პროგრამებზე მიღების გამოცხადება და მსმენელთა ჩარიცხვა</p>
                    <div class="posts-page-card-link-container">
                      <p class="posts-page-card-link">სრულიად წაკითხვა</p>
                      <i style="margin-top: 7px;" class="bi bi-chevron-right"></i>
                    </div>                  
                  </div>
                </div>
              </a>
              <a  class="posts-page-products-card-link"[routerLink]="['/products-service-inside-page', 31]">
                <div class="posts-page-products-card">
                  <div class="posts-page-card-left-side">
                    <img class="posts-page-card-image" src="https://emis-api.emis.ge/storage/media/1236/patara-evet.jpg" alt="Image">
                  </div>
                  <div class="posts-page-card-right-side">
                    <p class="posts-page-card-date">10 ივლისი 2024</p>
                    <h1 class="posts-page-card-title">პროფესიული მომზადებისა და პროფესიული გადამზადების პროგრამის შემუშავება და...</h1>
                    <p class="posts-page-card-description">პროფესიული მომზადებისა და პროფესიული გადამზადების პროგრამის შემუშავება და განხორციელების უფლების მოპოვება</p>
                    <div class="posts-page-card-link-container">
                      <p class="posts-page-card-link">სრულიად წაკითხვა</p>
                      <i style="margin-top: 7px;" class="bi bi-chevron-right"></i>
                    </div>                  
                  </div>
                </div>
              </a>
              <a  class="posts-page-products-card-link"[routerLink]="['/products-service-inside-page', 30]">
                <div class="posts-page-products-card">
                  <div class="posts-page-card-left-side">
                    <img class="posts-page-card-image" src="https://emis-api.emis.ge/storage/media/1232/vet.emis.ge.jpg" alt="Image">
                  </div>
                  <div class="posts-page-card-right-side">
                    <p class="posts-page-card-date">10 ივლისი 2024</p>
                    <h1 class="posts-page-card-title">პროფესიულ საგანმანათლებლო პროგრამებზე მიღების გამოცხადება და პროფესიულ...</h1>
                    <p class="posts-page-card-description">პროფესიულ საგანმანათლებლო პროგრამებზე მიღების გამოცხადება და პროფესიულ სტუდენტთა ჩარიცხვა</p>
                    <div class="posts-page-card-link-container">
                      <p class="posts-page-card-link">სრულიად წაკითხვა</p>
                      <i style="margin-top: 7px;" class="bi bi-chevron-right"></i>
                    </div>                  
                  </div>
                </div>
              </a>
              
              <!-- COPYING CARD FROM POSTS PAGE -->
        </div>
    </div>
</div>

 
 <app-footer></app-footer>