<app-nav-bar></app-nav-bar>
<div style="height: 1100px;" class="body">
<!-- COPYING HTML -->
<div class="home-test-mode-container">
    <p class="home-test-mode-container-text">საიტი მუშაობს სატესტო რეჟიმში</p>
</div>

<button class="postsDetails-page-back-button" (click)="goBack()">
    <i class="bi bi-arrow-left-short"></i> </button>
<div class="posts-page-title-side">
    <!-- COPYING BUTTON -->
    
    <!-- COPYING BUTTON -->
    <h1 class="posts-page-title">ვაკანსიები</h1>
    <div class="posts-page-blue-line"></div>
</div>
<!-- COPYING HTML -->
 <div class="vacancies-inside-page-container">
    <h1 class="vacancies-inside-page-title">პროფესიული და უმაღლესი განათლების სამსახურის სტაჟირება- ვაკანსიის N 88295</h1>
    <p class="vacancies-inside-page-date">02 აგვისტო/08 აგვისტო</p>
    <p class="vacancies-inside-page-description">განათლების მართვის საინფორმაციო სისტემის პროფესიული და უმაღლესი განათლების სამსახურში დაგხვდებათ მეგობრული გარემო და განვითარებაზე ორიენტირებული გუნდი. ანაზღაურებადი სტაჟირების ხანგრძლივობაა 4 თვე. </p>
    <p class="vacancies-inside-page-data">შესასრულებელი ამოცანები და ფუნქციები:</p>
    <p class="vacancies-inside-page-first-data">ა) პროფესიული და უმაღლესი განათლების სამსახურის საქმიანობის განხორციელების პროცესში მონაწილეობის მიღება;</p>
    <p class="vacancies-inside-page-main-data">ბ) საქართველოს კანონმდებლობით დადგენილი წესით, პროფესიული განათლების მართვის საინფორმაციო სისტემის ადმინისტრირების პროცესში მონაწილეობა;</p>
    <p class="vacancies-inside-page-main-data">გ) საქართველოს კანონმდებლობით დადგენილი წესით, პროფესიული მომზადების/პროფესიული გადამზადების ელექტრონული სისტემის ადმინისტრირების პროცესში მონაწილეობა;</p>
    <p class="vacancies-inside-page-main-data">გ) საქართველოს კანონმდებლობით დადგენილი წესით, პროფესიულ საგანმანათლებლო პროგრამებზე მიღების ორგანიზების, პროფესიულ საგანმანათლებლო პროგრამებზე ჩარიცხვის მსურველ პირთა რეგისტრაციის პროცესებში მონაწილეობის მიღება;</p>
    <p class="vacancies-inside-page-main-data">დ) საქართველოს კანონმდებლობით დადგენილი წესით პროფესიულ სტუდენტთა, კურსდამთავრებულთა და საგანმანათლებლო დაწესებულებაში დასაქმებულ პირთა პერსონალური მონაცემების აღრიცხვის პროცესში მონაწილეობა;</p>
    <p class="vacancies-inside-page-main-data">ე) საქართველოს კანონმდებლობით დადგენილი წესით, საქართველოში ერთი უმაღლესი საგანმანათლებლო დაწესებულებიდან სხვა უმაღლეს საგანმანათლებლო დაწესებულებაში სტუდენტების მობილობის პროცესისა და ამ მიზნით შექმნილი ელექტრონული პორტალის ადმინისტრირების პროცესში მონაწილეობა;</p>
    <p class="vacancies-inside-page-main-data">ვ) კანონმდებლობით დადგენილი წესით, უმაღლესი განათლების მართვის საინფორმაციო სისტემის ადმინისტრირების პროცესში მონაწილეობა;</p>
    <p class="vacancies-inside-page-main-data">ზ) საქართველოს კანონმდებლობით დადგენილი წესით, პირის მიერ მიღებული განათლების აღიარების/ნამდვილობის დადასტურების პროცესის ხელშეწყობის უზრუნველყოფის მიზნით დაწესებულების საგანმანათლებლო საქმიანობის შესახებ და პირის კანონიერი ჩარიცხვის შესახებ ინფორმაციის მოძიების პროცესში მონაწილეობა;</p>
    <p class="vacancies-inside-page-main-data">თ) ავტორიზებული, აგრეთვე, ლიკვიდირებული/საქმიანობაშეწყვეტილი საგანმანათლებლო დაწესებულებების სტატუსის შესახებ ინფორმაციის დამუშავების და დაინტერესებული პირებისათვის მიწოდების უზრუნველყოფის მიზნით, ინფორმაციის დამუშავება, სპეციალური ელექტრონული პლატფორმის შექმნისა და ადმინისტრირების პროცესში მონაწილეობა;</p>
    <p class="vacancies-inside-page-main-data">ი) პროფესიული და უმაღლესი განათლების სამსახურის კომპეტენციის ფარგლებში სხვა დამხმარე ამოცანების შესრულება.</p>
    <p class="vacancies-inside-page-main-data"></p>
    <p style="margin-top: 20px;" class="vacancies-inside-page-main-data-title">დეტალური ინფორმაცია ვაკანტური ადგილის შესახებ იხილეთ ბმულის  სახით</p>
    <a class="vacancies-inside-page-link" href="https://hr.gov.ge/JobProvider/UserOrgVaks/Details/88075?active=1"><p>https://hr.gov.ge/JobProvider/UserOrgVaks/Details/88075?active=1</p></a>
 </div>
 <!-- COPYING ICONS -->
 <div class="posts-inside-page-links-container">
    <p>გაზიარება:</p>
    <div class="posts-page-icons">
    <div class="vacancies-page-first-icon"><i class="bi bi-facebook" (click)="onFacebookClick()"></i></div>  
    <div class="vacancies-page-second-icon"> <i class="bi bi-linkedin" (click)="onLinkedInClick()"></i>   </div>      
    </div>     
 </div>
 <!-- COPYING ICONS -->
</div>
<app-footer></app-footer>
