<app-nav-bar></app-nav-bar>
<div class="body">
 <!-- COPYING HTML -->
 <div class="home-test-mode-container">
    <p class="home-test-mode-container-text">საიტი მუშაობს სატესტო რეჟიმში</p>
</div>

<div class="posts-page-title-side">
    <h1 class="posts-page-title">ჩვენი გუნდი</h1>
    <div class="posts-page-blue-line"></div>
</div>
<!-- COPYING HTML -->
 <div class="management-page-container">
    <div class="management-page-container-header-side">
           <a class="management-page-management-link" href="/management">
               <button class="management-page-both-button">მენეჯმენტი</button>
           </a>
           <!-- COPYING -->
           <a class="management-page-management-link" href="/departments">
            <button class="management-page-both-button">სამსახურები</button>
        </a>
        <a class="management-page-management-link" href="/structure">
            <button class="management-page-management-button">სტრუქტურა</button>
        </a>
           <!-- COPYING -->
    </div>
    <div class="management-page-container-body-side">
        <div class="position-box">
            <div class="position-box-title-box">
                <p class="position-box-title-box-text">სსიპ განათლების მართვის საინფორმაციო სისტემა</p>
            </div>
            <div class="position-box-main-box">
                <p class="position-box-title-box-text">უფროსი</p>
            </div>
            <div class="position-box-left-and-right-box-container">
                <div class="position-box-left-main-box">
                    <p class="position-box-title-box-text">უფროსის მოადგილე</p>
                </div>
                <div class="position-box-right-main-box">
                    <p class="position-box-title-box-text">უფროსის მოადგილე</p>
                </div>
            </div>
           <div class="position-box-bottom-boxes-container">
            <div class="position-box-bottom-boxe">
                <p>სტატისტიკის სამსახური</p>
            </div>
            <div class="position-box-bottom-boxe">
                <p>ადმინისტრაციული და სამართებლივი უზრუნველყოფის სამსახური</p>
            </div>
            <div class="position-box-bottom-boxe">
                <p>პროგრამული უზრუნველყოფის სამსახური</p>
            </div>
            <div class="position-box-bottom-boxe">
                <p>პროფესიული და უმაღლესი განათლების სამსახური</p>
            </div>
            <div class="position-box-bottom-boxe">
                <p style="text-align: center;">ფინანსური და მატერიალური რესურსების სამსახური</p>
            </div>
            <div class="position-box-bottom-boxe">
                <p>კომპიუტერული სისტემების და ქსელების სამსახური</p>
            </div>
            <div class="position-box-bottom-boxe">
                <p>სკოლამდელი და ზოგადი განათლების სამსახური</p>
            </div>
            <div class="position-box-bottom-boxe">
                <p>შიდა აუდიტის სამსახური</p>
            </div>
            <div style="text-align: center;" class="position-box-bottom-boxe">
                <p>საგანმანათლებლო ინოვაციების და ტექნოლოგიების სამსახური</p>
            </div>
           </div>
           <div class="position-box1"></div>
           <div class="position-box2"></div>
           <div class="position-box3"></div>
           <div class="position-box4"></div>
           <div class="position-box5"></div>
           <div class="position-box6"></div>
           <div class="position-box7"></div>
           <div class="position-box8"></div>
           <div class="position-box9"></div>
           <div class="position-box10"></div>
           <div class="position-box11"></div>
           <div class="position-box12"></div>
           <div class="position-box13"></div>
           <div class="position-box14"></div>
           <div class="position-line1"></div>
           <div class="position-line2"></div>
           <div class="position-line3"></div>
           <div class="position-line4"></div>
           <div class="position-line5"></div>
           <div class="position-line6"></div>
           <div class="position-line7"></div>
           <div class="position-line8"></div>
           <div class="position-line9"></div>
           <div class="position-line10"></div>
           <div class="position-line11"></div>
           <div class="position-line12"></div>
           <div class="position-line13"></div>
           <div class="position-line14"></div>
           <div class="position-line15"></div>
        </div>
    </div>
 </div>
</div>
<app-footer></app-footer>