/// RESPONSIVE 480PX /// RESPONSIVE 480PX /// RESPONSIVE 480PX /// RESPONSIVE 480PX /// RESPONSIVE 480PX /// RESPONSIVE 480PX /// RESPONSIVE 480PX
/// RESPONSIVE 480PX /// RESPONSIVE 480PX /// RESPONSIVE 480PX /// RESPONSIVE 480PX /// RESPONSIVE 480PX /// RESPONSIVE 480PX /// RESPONSIVE 480PX
@mixin StructureResponsive480px{
  .body {
    height: 1200px;
    .home-test-mode-container {
      width: 440px;
      margin-top: 80px;
    margin-left: 20px;
      margin-right: 20px;
    } 
    .posts-page-title-side {
      width: 370px;
    margin-left: 100px;
      .posts-page-title {
        width: 330px;
      }
      .posts-page-blue-line {
        margin-left: 90px;
      }
    }
    .management-page-container {
      width: 420px;
      height: 750px;
      margin-left: 20px;
      margin-right: 20px;
      .management-page-container-header-side {
        .management-page-management-link {
          .management-page-management-button {
            width: 120px;
            font-size: 15px;
          }
          .management-page-both-button {
            width: 120px;
            font-size: 15px;
          }
        }
      }
      .management-page-container-body-side {
        height: 650px;
        flex-direction: column;
        gap: 30px;
       width: 100%;
       .position-box{
       height: 550px;
        width: 440px;
        .position-box-title-box{
            width: 400px;
            margin-left: 20px;
        }
        .position-box-title-box-text{
          font-size: 14px;
        }
        .position-box-main-box{
          width: 150px;
          margin-left: 150px;
        }
        .position-box-left-and-right-box-container{
            display: flex;
            gap: 120px;
            margin-left: 10px;
       margin-right: 10px;
            margin-top: 20px;
          .position-box-left-main-box{          
              width: 150px;
                 
          }
          .position-box-right-main-box{
              width: 150px;             
          }
        }
        .position-box-bottom-boxes-container{
          height: 200px;
          width: 440px;
          margin-left: 10px;
          margin-right: 10px;
          gap: 8px;   border: solid 1px transparent;
          .position-box-bottom-boxe{
              width: 135px;
              height: 55px;
              font-size: 10px;                
          }
        }
        .position-box1{      
           top: 530px;
           left: 195px;
        }
        .position-box2{         
           top: 530px;
           left: 221px;
        }           
          .position-box3{
          top: 530px;
           left: 250px;
        }
        .position-box4{       
         top: 570px;
          left: 80px;
       } 
       .position-box5{        
         top: 570px;
          left: 355px;
       }
       .position-box6{         
         top: 645px;
          left: 80px;
       }
       .position-box7{       
         top: 645px;
          left: 220px;
       }
       .position-box8{
         top: 645px;
          left: 355px;
       }
       .position-box9{
         top: 715px;
          left: 80px;
       }
       .position-box10{
         top: 720px;
          left: 220px;
       }
       .position-box11{
         top: 715px;
          left: 355px;
       }
       .position-box12{       
         top: 785px;
          left: 80px;
       }
       .position-box13{        
         top: 785px;
          left: 220px;
       }
       .position-box14{      
         top: 785px;
          left: 355px;
       }
        .position-line1{      
          top: 547px;
          left: 202px;
        }
        .position-line2{
          width: 115px;
          top: 564px;
          left: 88px;
        }
        .position-line3{
          height: 7px;
          width: 2px;
          top: 564px;
          left: 87px;
        }
        .position-line4{
          top: 547px;
          left: 257px;
        }
        .position-line5{
          width: 105px;
          top: 564px;
          left: 257px;
        }
        .position-line6{
          height: 7px;
          top: 564px;
          left: 362px;
        }
        .position-line7{
          height: 99px;
          top: 546px;
          left: 227px;
        }
        .position-line8{
          height: 10px;
          top: 720px;
          left: 227px;
        }
        .position-line9{
          height: 10px;
          top: 775px;
          left: 227px;
        }
        .position-line10{
          height: 8px;
          top: 637px;
          left: 87px;
        }
        .position-line11{
          height: 9px;
          top: 706px;
          left: 87px;
        }
        .position-line12{
          height: 9px;     
          top: 776px;
          left: 87px;
        }
        .position-line13{
          height: 12px;       
          top: 633px;
          left: 362px;
        }
        .position-line14{
          height: 10px;    
          left: 362px;
          top: 706px;
        }
        .position-line15{
          height: 10px;      
          top: 776px;
          left: 362px;
        }
    }
      }
    }
  }
}
/// RESPONSIVE 480PX /// RESPONSIVE 480PX /// RESPONSIVE 480PX /// RESPONSIVE 480PX /// RESPONSIVE 480PX /// RESPONSIVE 480PX /// RESPONSIVE 480PX
/// RESPONSIVE 480PX /// RESPONSIVE 480PX /// RESPONSIVE 480PX /// RESPONSIVE 480PX /// RESPONSIVE 480PX /// RESPONSIVE 480PX /// RESPONSIVE 480PX
/// RESPONSIVE 768PX /// RESPONSIVE 768PX /// RESPONSIVE 768PX /// RESPONSIVE 768PX /// RESPONSIVE 768PX /// RESPONSIVE 768PX /// RESPONSIVE 768PX
/// RESPONSIVE 768PX /// RESPONSIVE 768PX /// RESPONSIVE 768PX /// RESPONSIVE 768PX /// RESPONSIVE 768PX /// RESPONSIVE 768PX /// RESPONSIVE 768PX
@mixin StructureResponsive768px{
  .body {
    height: 1200px;
    .home-test-mode-container {
      width: 440px;
      margin-top: 80px;
    margin-left: 20px;
      margin-right: 20px;
    } 
    .posts-page-title-side {
      width: 370px;
    margin-left: 100px;
      .posts-page-title {
        width: 330px;
      }
      .posts-page-blue-line {
        margin-left: 90px;
      }
    }
    .management-page-container {
      width: 420px;
      height: 750px;
      margin-left: 20px;
      margin-right: 20px;
      .management-page-container-header-side {
        .management-page-management-link {
          .management-page-management-button {
            width: 120px;
            font-size: 15px;
          }
          .management-page-both-button {
            width: 120px;
            font-size: 15px;
          }
        }
      }
      .management-page-container-body-side {
        height: 650px;
        flex-direction: column;
        gap: 30px;
       width: 100%;
       .position-box{
       height: 550px;
        width: 440px;
        .position-box-title-box{
            width: 400px;
            margin-left: 20px;
        }
        .position-box-title-box-text{
          font-size: 14px;
        }
        .position-box-main-box{
          width: 150px;
          margin-left: 150px;
        }
        .position-box-left-and-right-box-container{
            display: flex;
            gap: 120px;
            margin-left: 10px;
       margin-right: 10px;
            margin-top: 20px;
          .position-box-left-main-box{          
              width: 150px;
                 
          }
          .position-box-right-main-box{
              width: 150px;             
          }
        }
        .position-box-bottom-boxes-container{
          height: 200px;
          width: 440px;
          margin-left: 10px;
          margin-right: 10px;
          gap: 8px;   border: solid 1px transparent;
          .position-box-bottom-boxe{
              width: 135px;
              height: 55px;
              font-size: 10px;                
          }
        }
        .position-box1{      
           top: 530px;
           left: 195px;
        }
        .position-box2{         
           top: 530px;
           left: 221px;
        }           
          .position-box3{
          top: 530px;
           left: 250px;
        }
        .position-box4{       
         top: 570px;
          left: 80px;
       } 
       .position-box5{        
         top: 570px;
          left: 355px;
       }
       .position-box6{         
         top: 645px;
          left: 80px;
       }
       .position-box7{       
         top: 645px;
          left: 220px;
       }
       .position-box8{
         top: 645px;
          left: 355px;
       }
       .position-box9{
         top: 715px;
          left: 80px;
       }
       .position-box10{
         top: 720px;
          left: 220px;
       }
       .position-box11{
         top: 715px;
          left: 355px;
       }
       .position-box12{       
         top: 785px;
          left: 80px;
       }
       .position-box13{        
         top: 785px;
          left: 220px;
       }
       .position-box14{      
         top: 785px;
          left: 355px;
       }
        .position-line1{      
          top: 547px;
          left: 202px;
        }
        .position-line2{
          width: 115px;
          top: 564px;
          left: 88px;
        }
        .position-line3{
          height: 7px;
          width: 2px;
          top: 564px;
          left: 87px;
        }
        .position-line4{
          top: 547px;
          left: 257px;
        }
        .position-line5{
          width: 105px;
          top: 564px;
          left: 257px;
        }
        .position-line6{
          height: 7px;
          top: 564px;
          left: 362px;
        }
        .position-line7{
          height: 99px;
          top: 546px;
          left: 227px;
        }
        .position-line8{
          height: 10px;
          top: 720px;
          left: 227px;
        }
        .position-line9{
          height: 10px;
          top: 775px;
          left: 227px;
        }
        .position-line10{
          height: 8px;
          top: 637px;
          left: 87px;
        }
        .position-line11{
          height: 9px;
          top: 706px;
          left: 87px;
        }
        .position-line12{
          height: 9px;     
          top: 776px;
          left: 87px;
        }
        .position-line13{
          height: 12px;       
          top: 633px;
          left: 362px;
        }
        .position-line14{
          height: 10px;    
          left: 362px;
          top: 706px;
        }
        .position-line15{
          height: 10px;      
          top: 776px;
          left: 362px;
        }
    }
      }
    }
  }
}
/// RESPONSIVE 768PX /// RESPONSIVE 768PX /// RESPONSIVE 768PX /// RESPONSIVE 768PX /// RESPONSIVE 768PX /// RESPONSIVE 768PX /// RESPONSIVE 768PX
/// RESPONSIVE 768PX /// RESPONSIVE 768PX /// RESPONSIVE 768PX /// RESPONSIVE 768PX /// RESPONSIVE 768PX /// RESPONSIVE 768PX /// RESPONSIVE 768PX
///        COPYING STYLES FROM MANAGEMENT PAGE       ///
 @mixin position-box {
    background-color: rgb(37, 37, 37);
    width: 15px;
    height: 15px;
    border: solid 1px rgb(83, 83, 83);
    border-radius: 50px;
 }
.body{
    background-color: #181818;
    width: 100%;
    height: 1000px;
    ///  COPYING STYLES  ///
     /// NAV-BAR kind of part ///
  .home-test-mode-container{
    border: solid 2px #313131;
    height: 50px;
    width: 1340px;
    border-top: solid 1px #31313100;
    z-index: 700;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    .home-test-mode-container-text{
      color: #d4d4d4;
      text-align: center;
      font-size: 14px;
    }
  }     /// NAV-BAR kind of part ///
    ///  COPYING STYLES  ///
  .posts-page-title-side{
    height: 100%;
    width: 800px;
    margin-left: 500px;
    height: 100px;
    text-align: center;
    .posts-page-title{
        color: #fff;
        font-size: 25px;
        width: 730px;
       }
       .posts-page-blue-line{
        background-color: rgb(0, 98, 255);
        width: 100px;
        height: 5px;
        margin-left: 320px;
       }
}
    ///  COPYING STYLES  ///
     .management-page-container{
        width: 1340px;
        height: 820px;
        margin-left: 200px;
        margin-right: 200px;
        .management-page-container-header-side{
           height: 100px;
           display: flex;
           justify-content: center;
           align-items: center;
           gap: 20px;
           .management-page-management-link{
            text-decoration: none;
            .management-page-management-button{
                background-color: #1f1f1f;
                width: 240px;
                height: 50px;
                cursor: pointer;
                border: solid 1px rgb(0, 73, 183);
                border-radius: 5px;
                color: #fff;
                font-size: 18px;
                font-weight: 800;
            }
            /// 2 BUTTONS ///
            .management-page-both-button{
                background-color: #1f1f1f;
                width: 240px;
                height: 50px;
                cursor: pointer;
                border: none;
                border-radius: 5px;
                color: #fff;
                font-size: 18px;
                font-weight: 800;
                transition: 500ms;
                &:hover{
                    box-shadow: 0px 5px 6px rgba(0, 92, 232, 0.75); 
                    -webkit-box-shadow: 0px 5px 6px rgba(0, 92, 232, 0.75);
                    -moz-box-shadow: -0px 5px 6px rgba(0, 92, 232, 0.75);
                }
            }
            /// 2 BUTTONS ///
           }
         
        }
        .management-page-container-body-side{
          border: solid 1px transparent;
          height: 650px;
          display: flex;
          justify-content: center;
          align-items: center;
          .position-box{
              border: solid 1px transparent;
              height: 550px;
              width: 800px;
              .position-box-title-box{
                  background-color:  rgb(0, 45, 141);
                  width: 640px;
                  height: 60px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border: solid 1px  rgb(0, 45, 141);
                  border-radius: 15px;
                  margin-left: 80px;
              }
              .position-box-title-box-text{
                color: #bababa;
                font-size: 17px;
                font-weight: 600;
              }
              .position-box-main-box{
                margin-top: 20px;
                background-color: rgb(0, 45, 141);
                width: 240px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: solid 1px  rgb(0, 45, 141);
                border-radius: 15px;
                margin-left: 280px;
              }
              .position-box-left-and-right-box-container{
                  display: flex;
                  gap: 240px;
                  margin-left: 80px;
                  margin-right: 80px;
                  margin-top: 20px;
                .position-box-left-main-box{
                    margin-top: 20px;
                    background-color: rgb(0, 45, 141);
                    width: 200px;
                    height: 55px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: solid 1px  rgb(0, 45, 141);
                    border-radius: 15px;         
                }
                .position-box-right-main-box{
                    margin-top: 20px;
                    background-color: rgb(0, 45, 141);
                    width: 200px;
                    height: 55px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: solid 1px  rgb(0, 45, 141);
                    border-radius: 15px;               
                }
              }
              .position-box-bottom-boxes-container{
                height: 240px;
                width: 640px;
                margin-top: 20px;
                margin-left: 80px;
                margin-right: 80px;
                flex-wrap: wrap;
                display: flex;
                gap: 20px;
                .position-box-bottom-boxe{
                    background-color: #252525;
                    width: 200px;
                    height: 65px;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #a9a9a9;
                    font-weight: 600;
                    font-size: 14px;                
                    text-align: center;
                }
              }
              .position-box1{
                @include position-box();
                 position: absolute;          
                 top: 555px;
                 left: 825px;
              }
              .position-box2{
                 position: absolute;            
                 top: 555px;
                 left: 863px;
                 @include position-box();

              }           
                .position-box3{
                 position: absolute;
                @include position-box();
                top: 555px;
                 left: 900px;
              }
              .position-box4{
                position: absolute;
               @include position-box();
               top: 595px;
                left: 640px;
             } 
             .position-box5{
                position: absolute;
               @include position-box();
               top: 595px;
                left: 1080px;
             }
             .position-box6{
                position: absolute;
               @include position-box();
               top: 672px;
                left: 640px;
             }
             .position-box7{
                position: absolute;
               @include position-box();
               top: 672px;
                left: 863px;
             }
             .position-box8{
                position: absolute;
               @include position-box();
               top: 672px;
                left: 1080px;
             }
             .position-box9{
                position: absolute;
               @include position-box();
               top: 757px;
                left: 640px;
             }
             .position-box10{
                position: absolute;
               @include position-box();
               top: 757px;
                left: 863px;
             }
             .position-box11{
                position: absolute;
               @include position-box();
               top: 757px;
                left: 1080px;
             }
             .position-box12{
                position: absolute;
               @include position-box();
               top: 845px;
                left: 640px;
             }
             .position-box13{
                position: absolute;
               @include position-box();
               top: 845px;
                left: 863px;
             }
             .position-box14{
                position: absolute;
               @include position-box();
               top: 845px;
                left: 1080px;
             }
              .position-line1{
                height: 17px;
                width: 2px;
                background-color:  rgb(83, 83, 83);
                position: absolute;
                top: 570px;
                left: 832px;
              }
              .position-line2{
                height: 2px;
                width: 185px;
                background-color:  rgb(83, 83, 83);
                position: absolute;
                top: 586px;
                left: 648px;
              }
              .position-line3{
                height: 10px;
                width: 2px;
                background-color:  rgb(83, 83, 83);
                position: absolute;
                top: 586px;
                left: 647px;
              }
              .position-line4{
                height: 17px;
                width: 2px;
                background-color:  rgb(83, 83, 83);
                position: absolute;
                top: 570px;
                left: 907px;
              }
              .position-line5{
                height: 2px;
                width: 180px;
                background-color:  rgb(83, 83, 83);
                position: absolute;
                top: 586px;
                left: 907px;
              }
              .position-line6{
                height: 10px;
                width: 2px;
                background-color:  rgb(83, 83, 83);
                position: absolute;
                top: 586px;
                left: 1087px;
              }
              .position-line7{
                height: 102px;
                width: 2px;
                background-color:  rgb(83, 83, 83);
                position: absolute;
                top: 571px;
                left: 870px;
              }
              .position-line8{
                height: 13px;
                width: 2px;
                background-color:  rgb(83, 83, 83);
                position: absolute;
                top: 744px;
                left: 870px;
              }
              .position-line9{
                height: 14px;
                width: 2px;
                background-color:  rgb(83, 83, 83);
                position: absolute;
                top: 831px;
                left: 870px;
              }
              .position-line10{
                height: 14px;
                width: 2px;
                background-color:  rgb(83, 83, 83);
                position: absolute;
                top: 658px;
                left: 647px;
              }
              .position-line11{
                height: 14px;
                width: 2px;
                background-color:  rgb(83, 83, 83);
                position: absolute;
                top: 744px;
                left: 647px;
              }
              .position-line12{
                height: 14px;
                width: 2px;
                background-color:  rgb(83, 83, 83);
                position: absolute;
                top: 831px;
                left: 647px;
              }
              .position-line13{
                height: 14px;
                width: 2px;
                background-color:  rgb(83, 83, 83);
                position: absolute;
                top: 658px;
                left: 1087px;
              }
              .position-line14{
                height: 14px;
                width: 2px;
                background-color:  rgb(83, 83, 83);
                position: absolute;
                left: 1087px;
                top: 744px;
              }
              .position-line15{
                height: 14px;
                width: 2px;
                background-color:  rgb(83, 83, 83);
                position: absolute;
                top: 831px;
                 left: 1087px;
              }
          }
        }
     }
}
///        COPYING STYLES FROM MANAGEMENT PAGE       ///

/// LIGHT MODE /// LIGHT MODE /// LIGHT MODE /// LIGHT MODE /// LIGHT MODE /// LIGHT MODE /// LIGHT MODE /// LIGHT MODE /// LIGHT MODE/// LIGHT MODE
:host-context([data-theme="light"]) {
  .body {
    background-color: #fff;

    /// TEST MODE CONTAINER LIGHT MODE STYLES ///

    .home-test-mode-container {
      border: solid 2px transparent;

      background-color: rgb(222, 232, 255);

      .home-test-mode-container-text {
        color: #6460d8;
      }
    }
    .posts-page-title-side {
      .posts-page-title {
        color: #000;
      }
    }
    /// TEST MODE CONTAINER LIGHT MODE STYLES ///

    .management-page-container {
      .management-page-container-header-side {
        .management-page-management-link {
          .management-page-management-button {
            background-color: rgb(0, 73, 183);

            border: solid 1px rgb(0, 73, 183);

            color: #fff;
          }
          /// 2 BUTTONS ///
          .management-page-both-button {
            background-color: #fff;

            color: #000;

            box-shadow: 0px 2px 3px rgba(33, 33, 33, 0.75);
            -webkit-box-shadow: 0px 2px 3px rgba(35, 35, 35, 0.75);
            -moz-box-shadow: -0px 2px 3px rgba(35, 35, 35, 0.75);
          }
          /// 2 BUTTONS ///
        }
      }
      .management-page-container-body-side {
        .management-page-card {
          background-color: #fff;
          border: solid 1px rgb(185, 185, 185);

          .management-page-card-title {
            color: #000;
          }
          .management-page-card-title-description {
            color: #e6e6e6;
            opacity: 0.5;
          }
          .management-page-card-description {
            color: #000;
          }
          /// COPYING ///
          .posts-page-icons {
            color: #333;
          }
          /// COPYING ///
        }
      }
    }
  }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    @include StructureResponsive768px();
  }
  
  @media screen and (max-width: 480px) {
    @include StructureResponsive480px();
  }
}
    /// LIGHT MODE /// LIGHT MODE /// LIGHT MODE /// LIGHT MODE /// LIGHT MODE /// LIGHT MODE /// LIGHT MODE /// LIGHT MODE /// LIGHT MODE/// LIGHT MODE
    @media screen and (min-width: 481px) and (max-width: 768px) {
      @include StructureResponsive768px();
    }
    
    @media screen and (max-width: 480px) {
      @include StructureResponsive480px();
    }