.home-test-mode-container {
  border: solid 2px #313131;
  height: 50px;
  width: 1340px;
  border-top: solid 1px rgba(49, 49, 49, 0);
  z-index: 700;
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
}
.home-test-mode-container .home-test-mode-container-text {
  color: #d4d4d4;
  text-align: center;
  font-size: 14px;
}

body {
  margin: 0;
  background-color: rgba(6, 6, 6, 0.9254901961);
  height: auto;
  padding-bottom: 100px;
  width: 100%;
}

.public-info-page-nav-bar {
  background-color: rgba(38, 38, 46, 0.9254901961);
  height: 100px;
  width: 1340px;
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 230px;
}
.public-info-page-nav-bar .public-info-nav-bar-link-main {
  text-decoration: none;
}
.public-info-page-nav-bar .public-info-nav-bar-link-main .public-info-nav-bar-cube-main {
  background-color: rgb(0, 81, 203);
  width: 55px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  border-radius: 18px;
  font-size: 13px;
  margin-bottom: 14px;
  font-weight: 500;
  z-index: 999;
}
.public-info-page-nav-bar .public-info-nav-bar-link {
  text-decoration: none;
}
.public-info-page-nav-bar .public-info-nav-bar-link .public-info-nav-bar-cube-text-container {
  margin-top: 15px;
  height: 50px;
  width: 40px;
}
.public-info-page-nav-bar .public-info-nav-bar-link .public-info-nav-bar-cube-text-container .public-info-nav-bar-cube {
  border: solid 1px rgb(0, 81, 203);
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
  margin-left: 9px;
  z-index: 999;
}
.public-info-page-nav-bar .public-info-nav-bar-link .public-info-nav-bar-cube-text-container .public-info-nav-bar-text {
  color: #fff;
  font-size: 13px;
  margin-left: 4px;
}
.public-info-page-nav-bar .public-info-nav-bar-line {
  top: 187px;
  background-color: rgb(54, 54, 54);
  width: 1340px;
  border: solid 1px rgb(53, 53, 53);
  position: absolute;
  z-index: 100;
}

.public-info-main-side {
  display: flex;
  width: 100%;
  margin-top: 50px;
  height: auto;
  transition: height 300ms;
}
.public-info-main-side .public-info-left-side {
  width: 40%;
  height: 100%;
  margin-left: 200px;
  display: flex;
  flex-direction: column;
}
.public-info-main-side .public-info-left-side .dropdown-container {
  background-color: rgba(38, 38, 46, 0.9254901961);
  color: white;
  border: solid 1px transparent;
  cursor: pointer;
  transition: border-color 300ms;
  border-radius: 5px;
  margin-bottom: 2px;
  border-bottom: solid 1px #ddd;
}
.public-info-main-side .public-info-left-side .dropdown-container.active .dropdown-content {
  border-color: rgb(0, 119, 255);
}
.public-info-main-side .public-info-left-side .dropdown-container .dropdown-header {
  display: flex;
  overflow: hidden;
  align-items: center;
  height: 60px;
}
.public-info-main-side .public-info-left-side .dropdown-container .dropdown-header .dropdown-header-title {
  color: #ddd;
  width: 440px;
  margin-left: 20px;
  font-weight: 600;
}
.public-info-main-side .public-info-left-side .dropdown-container .dropdown-header .dropdown-header-icon {
  color: #ddd;
}
.public-info-main-side .public-info-left-side .dropdown-container .dropdown-content {
  margin-top: 10px;
  padding-left: 10px;
  border: solid 1px rgb(0, 119, 255);
  background-color: #3e3d52;
}
.public-info-main-side .public-info-left-side .dropdown-container .dropdown-content .dropdown-content-text {
  cursor: pointer;
  font-weight: 600;
  color: #ddd;
  border-bottom: solid 1px black;
  height: 30px;
}
.public-info-main-side .public-info-right-side {
  width: 60%;
  height: 100%;
  margin-right: 150px;
  color: white;
  margin-left: 20px;
}
.public-info-main-side .public-info-right-side .description-cube {
  border-radius: 15px;
  background-color: rgba(38, 38, 46, 0.9254901961);
  width: 750px;
  height: 60px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-weight: 600;
  padding-left: 20px;
  color: #ddd;
}

:host-context([data-theme=light]) body {
  background-color: #fff;
}
:host-context([data-theme=light]) .home-test-mode-container {
  border: solid 2px transparent;
  background-color: rgb(222, 232, 255);
}
:host-context([data-theme=light]) .home-test-mode-container .home-test-mode-container-text {
  color: #6460d8;
}
:host-context([data-theme=light]) .public-info-page-nav-bar {
  background-color: rgba(232, 239, 255, 0.9254901961);
}
:host-context([data-theme=light]) .public-info-page-nav-bar .public-info-nav-bar-link .public-info-nav-bar-cube-text-container .public-info-nav-bar-cube {
  color: #fff;
}
:host-context([data-theme=light]) .public-info-page-nav-bar .public-info-nav-bar-link .public-info-nav-bar-cube-text-container .public-info-nav-bar-text {
  color: #000;
}
:host-context([data-theme=light]) .public-info-page-nav-bar .public-info-nav-bar-line {
  background-color: rgba(189, 194, 207, 0.9254901961);
  border: solid 1px rgba(199, 207, 224, 0.9254901961);
}
:host-context([data-theme=light]) .public-info-main-side .public-info-left-side .dropdown-container {
  background-color: #ddd;
  color: #000;
  border-bottom: solid 1px #000;
}
:host-context([data-theme=light]) .public-info-main-side .public-info-left-side .dropdown-container .dropdown-header .dropdown-header-title {
  color: #000;
}
:host-context([data-theme=light]) .public-info-main-side .public-info-left-side .dropdown-container .dropdown-header .dropdown-header-icon {
  color: #000;
}
:host-context([data-theme=light]) .public-info-main-side .public-info-left-side .dropdown-container .dropdown-content {
  background-color: #ddd;
}
:host-context([data-theme=light]) .public-info-main-side .public-info-left-side .dropdown-container .dropdown-content .dropdown-content-text {
  color: #000;
  border-bottom: solid 1px #fff;
}
:host-context([data-theme=light]) .public-info-main-side .public-info-left-side .dropdown-container.active .dropdown-header {
  background-color: rgb(0, 98, 255);
}
:host-context([data-theme=light]) .public-info-main-side .public-info-left-side .dropdown-container.active .dropdown-header .dropdown-content {
  border-color: rgb(0, 119, 255);
}
:host-context([data-theme=light]) .public-info-main-side .public-info-right-side {
  color: #000;
}
:host-context([data-theme=light]) .public-info-main-side .public-info-right-side .description-cube {
  background-color: #f5f5f5;
  color: #000;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  :host-context([data-theme=light]) .home-test-mode-container {
    width: 720px;
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
  }
  :host-context([data-theme=light]) .public-info-page-nav-bar {
    height: 80px;
    width: 720px;
    margin-left: 20px;
    margin-right: 20px;
    gap: 100px;
  }
  :host-context([data-theme=light]) .public-info-page-nav-bar .public-info-nav-bar-line {
    top: 157px;
    width: 720px;
  }
  :host-context([data-theme=light]) .public-info-main-side {
    flex-direction: column;
    width: 100%;
  }
  :host-context([data-theme=light]) .public-info-main-side .public-info-left-side {
    width: 95%;
    height: 100%;
    margin-left: 20px;
  }
  :host-context([data-theme=light]) .public-info-main-side .public-info-left-side .dropdown-container .dropdown-header .dropdown-header-icon {
    margin-left: 220px;
  }
  :host-context([data-theme=light]) .public-info-main-side .public-info-right-side {
    width: 720px;
  }
  :host-context([data-theme=light]) .public-info-main-side .public-info-right-side .description-cube {
    width: 720px;
    height: auto;
  }
}
@media screen and (max-width: 480px) {
  :host-context([data-theme=light]) .home-test-mode-container {
    width: 440px;
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
  }
  :host-context([data-theme=light]) .public-info-page-nav-bar {
    height: 80px;
    width: 440px;
    margin-left: 20px;
    margin-right: 20px;
    gap: 30px;
  }
  :host-context([data-theme=light]) .public-info-page-nav-bar .public-info-nav-bar-line {
    top: 157px;
    width: 440px;
  }
  :host-context([data-theme=light]) .public-info-main-side {
    flex-direction: column;
    width: 100%;
  }
  :host-context([data-theme=light]) .public-info-main-side .public-info-left-side {
    width: 90%;
    height: 100%;
    margin-left: 20px;
  }
  :host-context([data-theme=light]) .public-info-main-side .public-info-left-side .dropdown-container .dropdown-header .dropdown-header-icon {
    margin-right: 20px;
  }
  :host-context([data-theme=light]) .public-info-main-side .public-info-right-side {
    width: 440px;
  }
  :host-context([data-theme=light]) .public-info-main-side .public-info-right-side .description-cube {
    width: 420px;
    height: auto;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .home-test-mode-container {
    width: 720px;
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .public-info-page-nav-bar {
    height: 80px;
    width: 720px;
    margin-left: 20px;
    margin-right: 20px;
    gap: 100px;
  }
  .public-info-page-nav-bar .public-info-nav-bar-line {
    top: 157px;
    width: 720px;
  }
  .public-info-main-side {
    flex-direction: column;
    width: 100%;
  }
  .public-info-main-side .public-info-left-side {
    width: 95%;
    height: 100%;
    margin-left: 20px;
  }
  .public-info-main-side .public-info-left-side .dropdown-container .dropdown-header .dropdown-header-icon {
    margin-left: 220px;
  }
  .public-info-main-side .public-info-right-side {
    width: 720px;
  }
  .public-info-main-side .public-info-right-side .description-cube {
    width: 720px;
    height: auto;
  }
}
@media screen and (max-width: 480px) {
  .home-test-mode-container {
    width: 440px;
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .public-info-page-nav-bar {
    height: 80px;
    width: 440px;
    margin-left: 20px;
    margin-right: 20px;
    gap: 30px;
  }
  .public-info-page-nav-bar .public-info-nav-bar-line {
    top: 157px;
    width: 440px;
  }
  .public-info-main-side {
    flex-direction: column;
    width: 100%;
  }
  .public-info-main-side .public-info-left-side {
    width: 90%;
    height: 100%;
    margin-left: 20px;
  }
  .public-info-main-side .public-info-left-side .dropdown-container .dropdown-header .dropdown-header-icon {
    margin-right: 20px;
  }
  .public-info-main-side .public-info-right-side {
    width: 440px;
  }
  .public-info-main-side .public-info-right-side .description-cube {
    width: 420px;
    height: auto;
  }
}/*# sourceMappingURL=public-fourth.component.css.map */