<app-nav-bar></app-nav-bar>
<div class="body">
 <!-- COPYING HTML -->
 <div class="home-test-mode-container">
    <p class="home-test-mode-container-text">საიტი მუშაობს სატესტო რეჟიმში</p>
</div>

<div class="posts-page-title-side">
    <h1 class="posts-page-title">ვაკანსიები</h1>
    <div class="posts-page-blue-line"></div>
</div>
<!-- COPYING HTML -->
 <div class="vacancies-container">
    <!-- VACANCIES CARD  1 -->
       <div class="vacancies-card">
            <a class="vacancies-card-first-link" href="/vacancies/18"><h1 class="vacancies-card-title">კომპიუტერული სისტემების, ქსელებისა და კომუნიკაციის სამსახურის სტაჟირება - ვაკანსიის N 88062</h1></a>
            <p class="vacancies-card-date">02 აგვისტო/08 აგვისტო</p>
            <p class="vacancies-card-description">განათლების მართვის საინფორმაციო სისტემის კომპიუტერული სისტემების, ქსელებისა და კომუნიკაციის სამსახურში დაგხვდებათ მეგობრული გარემო და განვითარებაზე ორიენტირებული გუნდი. ანაზღაურებადი სტაჟირების ხანგრძლივობაა 4 თვე.
            </p>
            <a class="vacancies-card-second-link" href="/vacancies/18"><p class="vacancies-card-link-text">სრლიად წაკითხვა</p> <div class="vacancies-card-icon"><i class="bi bi-chevron-right"></i></div></a>
       </div>
    <!-- VACANCIES CARD 1 -->
 <!-- VACANCIES CARD 2 -->
 <div class="vacancies-card">
    <a class="vacancies-card-first-link" href="/vacancies/17"><h1 class="vacancies-card-title">შიდა აუდიტის სამსახურის სტაჟირება - ვაკანსიის N 88075</h1></a>
    <p class="vacancies-card-date">02 აგვისტო/08აგვისტო</p>
    <p class="vacancies-card-description">განათლების მართვის საინფორმაციო სისტემის შიდა აუდიტის სამსახურში დაგხვდებათ მეგობრული გარემო და განვითარებაზე ორიენტირებული გუნდი. ანაზღაურებადი სტაჟირების ხანგრძლივობაა 4 თვე.

    </p>
    <a style="margin-top: 35px;" class="vacancies-card-second-link" href="/vacancies/17"><p class="vacancies-card-link-text">სრლიად წაკითხვა</p> <div class="vacancies-card-icon"><i class="bi bi-chevron-right"></i></div></a>
</div>
<!-- VACANCIES CARD 2 -->
  <!-- VACANCIES CARD 3 -->
  <div class="vacancies-card">
    <a class="vacancies-card-first-link" href="/vacancies/16"><h1 class="vacancies-card-title">ადმინისტრაციული და სამართლებრივი უზრუვნელყოფის სამსახურის სტაჟირება - ვაკანსიის N 88244</h1></a>
    <p class="vacancies-card-date">02 აგვისტო/08აგვისტო</p>
    <p class="vacancies-card-description">განათლების მართვის საინფორმაციო სისტემის  ადმინისტრაციული და სამართლებრივი უზრუვნელყოფის სამსახურში დაგხვდებათ მეგობრული გარემო და განვითარებაზე ორიენტირებული გუნდი. ანაზღაურებადი სტაჟირების ხანგრძლივობაა 4 თვე.
    </p>
    <a class="vacancies-card-second-link" href="/vacancies/16"><p class="vacancies-card-link-text">სრლიად წაკითხვა</p> <div class="vacancies-card-icon"><i class="bi bi-chevron-right"></i></div></a>
</div>
<!-- VACANCIES CARD 3 -->
  <!-- VACANCIES CARD 4 -->
  <div class="vacancies-card">
    <a class="vacancies-card-first-link" href="/vacancies/15"><h1 class="vacancies-card-title">პროფესიული და უმაღლესი განათლების სამსახურის სტაჟირება- ვაკანსიის N 88295</h1></a>
    <p class="vacancies-card-date">02 აგვისტო/08აგვისტო</p>
    <p class="vacancies-card-description">განათლების მართვის საინფორმაციო სისტემის პროფესიული და უმაღლესი განათლების სამსახურში დაგხვდებათ მეგობრული გარემო და განვითარებაზე ორიენტირებული გუნდი. ანაზღაურებადი სტაჟირების ხანგრძლივობაა 4 თვე. 
    </p>
    <a class="vacancies-card-second-link" href="/vacancies/15"><p class="vacancies-card-link-text">სრლიად წაკითხვა</p> <div class="vacancies-card-icon"><i class="bi bi-chevron-right"></i></div></a>
</div>
<!-- VACANCIES CARD 4 -->
 </div>
</div>
<app-footer></app-footer>