<app-nav-bar></app-nav-bar>
<div class="body">
     <!-- COPYING HTML -->
     <div class="home-test-mode-container">
        <p class="home-test-mode-container-text">საიტი მუშაობს სატესტო რეჟიმში</p>
    </div>

    <div class="posts-page-title-side">
        <h1 class="posts-page-title">პროდუქტები</h1>
        <div class="posts-page-blue-line"></div>
    </div>
    <!-- COPYING HTML -->
       <div class="general-education-container">
        <div class="general-education-container-title-side">
            <a class="general-education-link" href="/projects/1">
                <div class="general-education-title-side-card">
                    <p class="general-education-container-title">სკოლამდელი განათლება</p>
                </div>               
            </a>
            <a class="general-education-link" href="/projects/9">
                <div class="general-education-title-side-card-main">
                    <p class="general-education-container-title">ზოგადი განათლება</p>
                </div>              
            </a>
            <a class="general-education-link" href="/projects/3">
                <div class="general-education-title-side-card">
                    <p class="general-education-container-title">პროფესიული განათლება</p>
                </div>            
            </a>
            <a class="general-education-link" href="/projects/10">
                <div class="general-education-title-side-card">
                    <p class="general-education-container-title">უმაღლესი განათლება</p>
                </div>           
            </a>
            <a class="general-education-link" href="/projects/7">
                <div class="general-education-title-side-card">
                    <p class="general-education-container-title">სხვა</p>
                </div>             
            </a>
        </div>
              <div class="generals-container-body-side">
                <a href="">
                    <div class="generals-card">
                        <p class="generals-card-text">ელექტრონული ჟურნალი Onlineschools.Emis.ge ვიდეო ინსტრუქციები</p>
                             <img class="general-education-card-image" src="https://emis-api.emis.ge/storage/media/1237/thumbnail-eleqtronuli-zhurnali-664af1d74c6f5.webp" alt="Image">
                             <div class="generals-card-bottom-side">
                                <p class="generals-card-bottom-side-text">ვრცლად</p>
                                <div class="generals-card-icon"><i class="bi bi-chevron-right"></i></div>
                             </div>
                    </div>
                </a>
                <div class="generals-body-side-container">
                    <a href="">
                        <div style="margin-bottom: 15px;" class="generals-second-card">
                            <p class="generals-second-card-text">სკოლების პორტალი Skolebi.emis.ge</p>
                                 <img class="generals-education-second-card-image" src="https://emis-api.emis.ge/storage/media/1037/%E1%83%A1%E1%83%99%E1%83%9D%E1%83%9A%E1%83%94%E1%83%91%E1%83%98%E1%83%A1-%E1%83%9E%E1%83%9D%E1%83%A0%E1%83%A2%E1%83%90%E1%83%9A%E1%83%98.webp" alt="Image">
                                 <div class="generals-second-card-bottom-side">
                                    <p class="generals-second-card-bottom-side-text">ვრცლად</p>
                                    <div class="generals-second-card-icon"><i class="bi bi-chevron-right"></i></div>
                                 </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="generals-second-card">
                            <p class="generals-second-card-text">ელექტრონული ჟურნალი</p>
                                 <img class="generals-education-second-card-image" src="https://emis-api.emis.ge/storage/media/1039/thumbnail-eleqtronuli-zhurnali-664af1d74c6f5.webp" alt="Image">
                                 <div class="generals-second-third-bottom-side">
                                    <p class="generals-second-card-bottom-side-text">ვრცლად</p>
                                    <div class="generals-second-card-icon"><i class="bi bi-chevron-right"></i></div>
                                 </div>
                        </div>
                    </a>
                </div>
                <a href="">
                    <div class="generals-card">
                        <p  class="generals-card-text-01">ზოგადი განათლების ატესტატის/დუბლიკატის ელექტრონული ასლი</p>
                             <img class="general-education-card-image" src="https://emis-api.emis.ge/storage/media/1123/dublik-(1).webp" alt="Image">
                             <div id="general" class="generals-card-bottom-side01">
                                <p class="generals-card-bottom-side-text">ვრცლად</p>
                                <div class="generals-card-icon"><i class="bi bi-chevron-right"></i></div>
                             </div>
                    </div>
                </a>
              </div>
       </div>
</div>
<app-footer></app-footer>