.nav-bar {
  border: solid 1px #313131;
  height: 100px;
  display: flex;
  width: 100%;
}
.nav-bar .nav-bar-left-side {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.nav-bar .nav-bar-left-side .nav-bar-image-link {
  height: 50px;
}
.nav-bar .nav-bar-left-side .nav-bar-image-link .nav-bar-image {
  width: 200px;
  scale: 110%;
  margin-left: 100px;
}
.nav-bar .nav-bar-right-side {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar .nav-bar-right-side .nav-bar-links {
  list-style: none;
  width: 800px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.nav-bar .nav-bar-right-side .nav-bar-links .nav-bar-link {
  text-decoration: none;
  position: relative;
}
.nav-bar .nav-bar-right-side .nav-bar-links .nav-bar-link .first-dropdown-container {
  display: none;
  position: absolute;
  width: 200px;
  height: 140px;
  top: 100%;
  transform: translateX(-100px);
  background-color: rgb(36, 36, 36);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
.nav-bar .nav-bar-right-side .nav-bar-links .nav-bar-link .first-dropdown-container a {
  display: block;
  color: rgb(172, 172, 172);
  text-decoration: none;
  font-size: 14px;
  transition: 500ms;
  height: 30px;
}
.nav-bar .nav-bar-right-side .nav-bar-links .nav-bar-link .first-dropdown-container a:hover {
  color: white;
}
.nav-bar .nav-bar-right-side .nav-bar-links .nav-bar-link .second-dropdown-container {
  display: none;
  position: absolute;
  width: 180px;
  height: 140px;
  top: 100%;
  transform: translateX(-80px);
  background-color: rgb(36, 36, 36);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
.nav-bar .nav-bar-right-side .nav-bar-links .nav-bar-link .second-dropdown-container a {
  display: block;
  color: rgb(172, 172, 172);
  text-decoration: none;
  font-size: 14px;
  transition: 500ms;
  height: 27px;
}
.nav-bar .nav-bar-right-side .nav-bar-links .nav-bar-link .second-dropdown-container a:hover {
  color: white;
}
.nav-bar .nav-bar-right-side .nav-bar-links .nav-bar-link .third-dropdown-container {
  display: none;
  position: absolute;
  width: 180px;
  height: 140px;
  top: 100%;
  transform: translateX(-100px);
  background-color: rgb(36, 36, 36);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
.nav-bar .nav-bar-right-side .nav-bar-links .nav-bar-link .third-dropdown-container a {
  display: block;
  color: rgb(172, 172, 172);
  text-decoration: none;
  font-size: 14px;
  transition: 500ms;
  height: 27px;
}
.nav-bar .nav-bar-right-side .nav-bar-links .nav-bar-link .third-dropdown-container a:hover {
  color: white;
}
.nav-bar .nav-bar-right-side .nav-bar-links .nav-bar-link .nav-bar-link-text {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 300ms;
  font-weight: 600;
  gap: 10px;
  color: #8e8e8e;
}
.nav-bar .nav-bar-right-side .nav-bar-links .nav-bar-link .nav-bar-link-text:hover {
  color: #fff;
}
.nav-bar .nav-bar-right-side .nav-bar-links .nav-bar-link .nav-bar-link-text .nav-bar-link-icon {
  font-size: 17px;
  color: #b2b2b2;
}
.nav-bar .nav-bar-right-side .nav-bar-links .nav-bar-link .dark-active {
  color: white;
}
.nav-bar .nav-bar-right-side .nav-bar-links .nav-bar-link .light-active {
  color: black;
}
.nav-bar .nav-bar-right-side .nav-bar-links .nav-bar-link .dark-default {
  color: #8e8e8e;
}
.nav-bar .nav-bar-right-side .nav-bar-links .nav-bar-link .light-default {
  color: #333;
}
.nav-bar .nav-bar-right-side .nav-bar-links .nav-bar-link:hover .first-dropdown-container {
  display: block;
}
.nav-bar .nav-bar-right-side .nav-bar-links .nav-bar-link:hover .second-dropdown-container {
  display: block;
}
.nav-bar .nav-bar-right-side .nav-bar-links .nav-bar-link:hover .third-dropdown-container {
  display: block;
}
.nav-bar .nav-bar-right-side .nav-bar-button-container {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 30px;
  width: 100px;
}
.nav-bar .nav-bar-right-side .nav-bar-button-container .nav-bar-button {
  background-color: transparent;
  border: none;
  width: 30px;
  font-size: 20px;
  height: 30px;
  color: #fff;
  transition: 500ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar .nav-bar-right-side .nav-bar-button-container .nav-bar-button:hover {
  background-color: rgba(28, 28, 28, 0.8666666667);
  cursor: pointer;
  scale: 130%;
}
.nav-bar .open-modal {
  position: fixed;
  right: 1px;
  top: 350px;
  background-color: rgba(52, 50, 57, 0.6352941176);
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  gap: 2px;
  cursor: pointer;
}
.nav-bar .open-modal .modal-circle {
  background-color: #b8b8b8;
  width: 5px;
  height: 4px;
  border-radius: 50%;
}
.nav-bar .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.484);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.nav-bar .modal-button {
  width: 40px;
  height: 40px;
  background-color: #212121;
  position: absolute;
  top: 20px;
  z-index: 600;
  right: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}
.nav-bar .modal-content {
  background: #21222e;
  width: 350px;
  padding: 25px;
  height: 700px;
  position: relative;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 1400px;
}
.nav-bar .modal-content .modal-content-top-side {
  color: #a7a7a7;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin-top: 40px;
}
.nav-bar .modal-content .modal-content-top-side .modal-line {
  width: 130px;
  border: solid 1px rgb(72, 72, 72);
}
.nav-bar .modal-content .modal-content-center-side {
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.nav-bar .modal-content .modal-content-center-side .modal-card {
  border: solid 1px black;
  border-radius: 10px;
  width: 115px;
  height: 115px;
  color: #adadad;
  background-color: transparent;
  text-decoration: none;
  transition: 500ms;
}
.nav-bar .modal-content .modal-content-center-side .modal-card:hover {
  box-shadow: 0px 1px 2px 1px rgba(133, 133, 133, 0.75);
  -webkit-box-shadow: 0px 1px 2px 1px rgba(133, 133, 133, 0.75);
  -moz-box-shadow: 0px 1px 2px 1px rgba(133, 133, 133, 0.75);
}
.nav-bar .modal-content .modal-content-center-side .modal-card:hover .modal-card-icon {
  color: rgb(72, 115, 255);
}
.nav-bar .modal-content .modal-content-center-side .modal-card:hover .modal-card-title {
  color: #fff;
}
.nav-bar .modal-content .modal-content-center-side .modal-card .modal-card-icon {
  font-size: 25px;
  margin-left: 15px;
  margin-top: 10px;
  transition: 500ms;
}
.nav-bar .modal-content .modal-content-center-side .modal-card .modal-card-title {
  transition: 500ms;
  font-size: 13px;
  margin-left: 15px;
  margin-top: 30px;
}
.nav-bar .modal-content .modal-content-bottom-side {
  height: 100px;
  display: flex;
  color: #a7a7a7;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin-top: 40px;
  gap: 30px;
}
.nav-bar .modal-content .modal-content-bottom-side .modal-bottom-line {
  border: solid 1px rgb(72, 72, 72);
  width: 100px;
}
.nav-bar .modal-content .modal-content-links {
  width: 270px;
  height: 50px;
  color: blue;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}
.nav-bar .modal-content .modal-content-links .modal-link {
  font-size: 25px;
  color: rgb(72, 115, 255);
}
.nav-bar .modal-overlay.open {
  display: flex;
}
.nav-bar .burger-menu {
  display: none;
}
.nav-bar .menu-modal {
  display: none;
}

:host-context([data-theme=light]) .nav-bar {
  border: solid 1px #a7a7a7;
}
:host-context([data-theme=light]) .nav-bar .nav-bar-right-side .nav-bar-links .first-dropdown-container {
  background-color: #fff;
}
:host-context([data-theme=light]) .nav-bar .nav-bar-right-side .nav-bar-links .first-dropdown-container a {
  color: rgb(100, 100, 100);
  font-weight: 600;
}
:host-context([data-theme=light]) .nav-bar .nav-bar-right-side .nav-bar-links .first-dropdown-container a:hover {
  color: black;
}
:host-context([data-theme=light]) .nav-bar .nav-bar-right-side .nav-bar-links .second-dropdown-container {
  background-color: #fff;
}
:host-context([data-theme=light]) .nav-bar .nav-bar-right-side .nav-bar-links .second-dropdown-container a {
  color: rgb(100, 100, 100);
  font-weight: 600;
}
:host-context([data-theme=light]) .nav-bar .nav-bar-right-side .nav-bar-links .second-dropdown-container a:hover {
  color: black;
}
:host-context([data-theme=light]) .nav-bar .nav-bar-right-side .nav-bar-links .third-dropdown-container {
  background-color: #fff;
}
:host-context([data-theme=light]) .nav-bar .nav-bar-right-side .nav-bar-links .third-dropdown-container a {
  color: rgb(100, 100, 100);
  font-weight: 600;
}
:host-context([data-theme=light]) .nav-bar .nav-bar-right-side .nav-bar-links .third-dropdown-container a:hover {
  color: black;
}
:host-context([data-theme=light]) .nav-bar .nav-bar-right-side .nav-bar-links .nav-bar-link-text {
  color: #333;
}
:host-context([data-theme=light]) .nav-bar .nav-bar-right-side .nav-bar-links .nav-bar-link-text:hover {
  color: #000;
}
:host-context([data-theme=light]) .nav-bar .nav-bar-right-side .nav-bar-links .nav-bar-link-text .nav-bar-link-icon {
  color: #333;
}
:host-context([data-theme=light]) .nav-bar .nav-bar-right-side .nav-bar-button-container .nav-bar-button {
  color: black;
}
:host-context([data-theme=light]) .nav-bar .nav-bar-right-side .nav-bar-button-container .nav-bar-button:hover {
  background-color: #ddd;
}
:host-context([data-theme=light]) .nav-bar .open-modal {
  background-color: #fff;
  border: solid 1px rgb(179, 179, 179);
}
:host-context([data-theme=light]) .nav-bar .open-modal .modal-circle {
  background-color: #434343;
}
:host-context([data-theme=light]) .nav-bar .modal-overlay {
  background: rgba(0, 0, 0, 0.484);
}
:host-context([data-theme=light]) .nav-bar .modal-button {
  background-color: #fff;
  color: #000;
}
:host-context([data-theme=light]) .nav-bar .modal-content {
  background: #fff;
}
:host-context([data-theme=light]) .nav-bar .modal-content .modal-content-top-side {
  color: #5e5e5e;
}
:host-context([data-theme=light]) .nav-bar .modal-content .modal-content-top-side .modal-line {
  border: solid 1px rgb(136, 136, 136);
}
:host-context([data-theme=light]) .nav-bar .modal-content .modal-content-center-side .modal-card {
  color: #616161;
}
:host-context([data-theme=light]) .nav-bar .modal-content .modal-content-center-side .modal-card:hover {
  border: solid 1px #fff;
  box-shadow: 0px 1px 2px 1px rgba(210, 210, 210, 0.75);
  -webkit-box-shadow: 0px 1px 2px 1px rgba(194, 194, 194, 0.75);
  -moz-box-shadow: 0px 1px 2px 1px rgba(202, 202, 202, 0.75);
}
:host-context([data-theme=light]) .nav-bar .modal-content .modal-content-center-side .modal-card:hover .modal-card-icon {
  color: rgb(27, 80, 255);
}
:host-context([data-theme=light]) .nav-bar .modal-content .modal-content-center-side .modal-card:hover .modal-card-title {
  color: #000;
}
:host-context([data-theme=light]) .nav-bar .modal-content .modal-content-bottom-side {
  color: #5e5e5e;
}
:host-context([data-theme=light]) .nav-bar .modal-content .modal-content-bottom-side .modal-bottom-line {
  border: solid 1px rgb(140, 140, 140);
}
:host-context([data-theme=light]) .nav-bar .modal-content .modal-content-links {
  color: blue;
}
:host-context([data-theme=light]) .nav-bar .modal-content .modal-content-links .modal-link {
  font-size: 25px;
  color: rgb(72, 115, 255);
}
:host-context([data-theme=light]) .nav-bar .modal-overlay.open {
  display: flex;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  :host-context([data-theme=light]) .nav-bar {
    height: 80px;
  }
  :host-context([data-theme=light]) .nav-bar .nav-bar-left-side .nav-bar-image-link .nav-bar-image {
    scale: 100%;
  }
  :host-context([data-theme=light]) .nav-bar .nav-bar-right-side {
    margin-left: 10px;
    width: 60%;
  }
  :host-context([data-theme=light]) .nav-bar .nav-bar-right-side .nav-bar-links {
    display: none;
  }
  :host-context([data-theme=light]) .nav-bar .nav-bar-right-side .nav-bar-button-container .nav-bar-button {
    scale: 100%;
    margin-left: 320px;
  }
  :host-context([data-theme=light]) .nav-bar .nav-bar-right-side .burger-menu {
    display: flex;
    flex-direction: column;
    scale: 100%;
    background-color: #242424;
    height: 40px;
    width: 45px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    gap: 3px;
    margin-left: 280px;
    color: #fff;
    font-size: 25px;
  }
  :host-context([data-theme=light]) .nav-bar .open-modal {
    display: none;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal {
    display: none;
    position: fixed;
    top: 80px;
    width: 480px;
    height: 100vh;
    background-color: #181818;
    z-index: 100;
    transform: translateX(280px);
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal.menu-open {
    display: block;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content {
    height: 360px;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content.expanded {
    height: 500px;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container {
    height: auto;
    width: 100%;
    list-style: none;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container {
    height: 70px;
    border-bottom: solid 1px #ddd;
    display: flex;
    align-items: center;
    margin-right: 100px;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container .menu-modal-link {
    text-decoration: none;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container .menu-modal-link .menu-modal-link-text {
    color: rgb(172, 172, 172);
    transition: 500ms;
    font-size: 18px;
    width: 130px;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container .menu-modal-link .menu-modal-link-text:hover {
    color: #fff;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container .menu-modal-link-icon {
    color: #ddd;
    margin-left: 220px;
    font-size: 20px;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container.no-border {
    border-bottom: none;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .dropdown-content {
    list-style: none;
    margin-top: 1px;
    margin-left: 1px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    width: 200px;
    transform: translateX(-30px);
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .dropdown-content a {
    text-decoration: none;
    color: #bbb;
    font-size: 16px;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .dropdown-content a:hover {
    color: #fff;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container {
    margin-top: 10px;
    height: 370px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-container-title-section {
    width: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-container-title-section .menu-modal-cards-container-line {
    border: solid 1px rgb(72, 72, 72);
    background-color: rgb(72, 72, 72);
    width: 200px;
    height: 1px;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-container-title-section .menu-modal-cards-container-title {
    color: #bdbdbd;
    font-size: 18px;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section {
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 270px;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link {
    text-decoration: none;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link .menu-modal-card {
    border: solid 1px black;
    border-radius: 10px;
    width: 115px;
    height: 115px;
    color: #adadad;
    background-color: #21222e;
    text-decoration: none;
    transition: 500ms;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link .menu-modal-card:hover {
    box-shadow: 0px 1px 2px 1px rgba(133, 133, 133, 0.75);
    -webkit-box-shadow: 0px 1px 2px 1px rgba(133, 133, 133, 0.75);
    -moz-box-shadow: 0px 1px 2px 1px rgba(133, 133, 133, 0.75);
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link .menu-modal-card:hover .modal-card-icon {
    color: rgb(72, 115, 255);
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link .menu-modal-card:hover .modal-card-title {
    color: #fff;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link .menu-modal-card .modal-card-icon {
    font-size: 25px;
    margin-left: 15px;
    margin-top: 10px;
    transition: 500ms;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link .menu-modal-card .modal-card-title {
    transition: 500ms;
    font-size: 13px;
    margin-left: 15px;
    margin-top: 30px;
  }
  :host-context([data-theme=light]) .nav-bar .menu-open {
    display: block;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal-overlay.open {
    display: block;
  }
  :host-context([data-theme=light]) :host-context([data-theme=light]) .nav-bar .nav-bar-right-side .burger-menu {
    background-color: #fff;
    color: #000;
    border: solid 1px black;
  }
  :host-context([data-theme=light]) :host-context([data-theme=light]) .nav-bar .menu-modal {
    background-color: #fff;
  }
  :host-context([data-theme=light]) :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container {
    border-bottom: solid 1px #000;
  }
  :host-context([data-theme=light]) :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container .menu-modal-link .menu-modal-link-text {
    color: rgb(57, 57, 57);
  }
  :host-context([data-theme=light]) :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container .menu-modal-link .menu-modal-link-text:hover {
    color: #000;
  }
  :host-context([data-theme=light]) :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container .menu-modal-link-icon {
    color: #333;
  }
  :host-context([data-theme=light]) :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .dropdown-content a {
    color: #333;
  }
  :host-context([data-theme=light]) :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .dropdown-content a:hover {
    color: #000;
  }
  :host-context([data-theme=light]) :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-container-title-section .menu-modal-cards-container-line {
    border: solid 1px rgb(33, 33, 33);
    background-color: rgb(30, 29, 29);
  }
  :host-context([data-theme=light]) :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-container-title-section .menu-modal-cards-container-title {
    color: #000;
  }
  :host-context([data-theme=light]) :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link .menu-modal-card {
    border: solid 1px white;
    color: #000;
    background-color: #ddd;
  }
  :host-context([data-theme=light]) :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link .menu-modal-card:hover {
    box-shadow: 0px 1px 2px 1px rgba(69, 69, 69, 0.75);
    -webkit-box-shadow: 0px 1px 2px 1px rgba(53, 53, 53, 0.75);
    -moz-box-shadow: 0px 1px 2px 1px rgba(48, 48, 48, 0.75);
  }
  :host-context([data-theme=light]) :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link .menu-modal-card:hover .modal-card-title {
    color: aqua;
  }
}
@media screen and (max-width: 480px) {
  :host-context([data-theme=light]) .nav-bar {
    height: 80px;
  }
  :host-context([data-theme=light]) .nav-bar .nav-bar-left-side .nav-bar-image-link .nav-bar-image {
    scale: 100%;
  }
  :host-context([data-theme=light]) .nav-bar .nav-bar-right-side {
    margin-left: 10px;
    width: 60%;
  }
  :host-context([data-theme=light]) .nav-bar .nav-bar-right-side .nav-bar-links {
    display: none;
  }
  :host-context([data-theme=light]) .nav-bar .nav-bar-right-side .nav-bar-button-container .nav-bar-button {
    scale: 100%;
    margin-left: 120px;
  }
  :host-context([data-theme=light]) .nav-bar .nav-bar-right-side .burger-menu {
    display: flex;
    flex-direction: column;
    scale: 100%;
    background-color: #242424;
    height: 40px;
    width: 45px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    gap: 3px;
    margin-left: 80px;
    color: #fff;
    font-size: 25px;
  }
  :host-context([data-theme=light]) .nav-bar .open-modal {
    display: none;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal {
    display: none;
    position: fixed;
    top: 80px;
    width: 480px;
    height: 100vh;
    background-color: #181818;
    z-index: 100;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal.menu-open {
    display: block;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content {
    height: 360px;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content.expanded {
    height: 500px;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container {
    height: auto;
    width: 100%;
    list-style: none;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container {
    height: 70px;
    border-bottom: solid 1px #ddd;
    display: flex;
    align-items: center;
    margin-right: 100px;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container .menu-modal-link {
    text-decoration: none;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container .menu-modal-link .menu-modal-link-text {
    color: rgb(172, 172, 172);
    transition: 500ms;
    font-size: 18px;
    width: 130px;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container .menu-modal-link .menu-modal-link-text:hover {
    color: #fff;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container .menu-modal-link-icon {
    color: #ddd;
    margin-left: 220px;
    font-size: 20px;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container.no-border {
    border-bottom: none;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .dropdown-content {
    list-style: none;
    margin-top: 1px;
    margin-left: 1px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    width: 200px;
    transform: translateX(-30px);
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .dropdown-content a {
    text-decoration: none;
    color: #bbb;
    font-size: 16px;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .dropdown-content a:hover {
    color: #fff;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container {
    margin-top: 10px;
    height: 370px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-container-title-section {
    width: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-container-title-section .menu-modal-cards-container-line {
    border: solid 1px rgb(72, 72, 72);
    background-color: rgb(72, 72, 72);
    width: 200px;
    height: 1px;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-container-title-section .menu-modal-cards-container-title {
    color: #bdbdbd;
    font-size: 18px;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section {
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 270px;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link {
    text-decoration: none;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link .menu-modal-card {
    border: solid 1px black;
    border-radius: 10px;
    width: 115px;
    height: 115px;
    color: #adadad;
    background-color: #21222e;
    text-decoration: none;
    transition: 500ms;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link .menu-modal-card:hover {
    box-shadow: 0px 1px 2px 1px rgba(133, 133, 133, 0.75);
    -webkit-box-shadow: 0px 1px 2px 1px rgba(133, 133, 133, 0.75);
    -moz-box-shadow: 0px 1px 2px 1px rgba(133, 133, 133, 0.75);
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link .menu-modal-card:hover .modal-card-icon {
    color: rgb(72, 115, 255);
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link .menu-modal-card:hover .modal-card-title {
    color: #fff;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link .menu-modal-card .modal-card-icon {
    font-size: 25px;
    margin-left: 15px;
    margin-top: 10px;
    transition: 500ms;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link .menu-modal-card .modal-card-title {
    transition: 500ms;
    font-size: 13px;
    margin-left: 15px;
    margin-top: 30px;
  }
  :host-context([data-theme=light]) .nav-bar .menu-open {
    display: block;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal-overlay.open {
    display: block;
  }
  :host-context([data-theme=light]) :host-context([data-theme=light]) .nav-bar .nav-bar-right-side .burger-menu {
    background-color: #fff;
    color: #000;
    border: solid 1px black;
  }
  :host-context([data-theme=light]) :host-context([data-theme=light]) .nav-bar .menu-modal {
    background-color: #fff;
  }
  :host-context([data-theme=light]) :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container {
    border-bottom: solid 1px #000;
  }
  :host-context([data-theme=light]) :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container .menu-modal-link .menu-modal-link-text {
    color: rgb(57, 57, 57);
  }
  :host-context([data-theme=light]) :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container .menu-modal-link .menu-modal-link-text:hover {
    color: #000;
  }
  :host-context([data-theme=light]) :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container .menu-modal-link-icon {
    color: #333;
  }
  :host-context([data-theme=light]) :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .dropdown-content a {
    color: #333;
  }
  :host-context([data-theme=light]) :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .dropdown-content a:hover {
    color: #000;
  }
  :host-context([data-theme=light]) :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-container-title-section .menu-modal-cards-container-line {
    border: solid 1px rgb(33, 33, 33);
    background-color: rgb(30, 29, 29);
  }
  :host-context([data-theme=light]) :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-container-title-section .menu-modal-cards-container-title {
    color: #000;
  }
  :host-context([data-theme=light]) :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link .menu-modal-card {
    border: solid 1px white;
    color: #000;
    background-color: #ddd;
  }
  :host-context([data-theme=light]) :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link .menu-modal-card:hover {
    box-shadow: 0px 1px 2px 1px rgba(69, 69, 69, 0.75);
    -webkit-box-shadow: 0px 1px 2px 1px rgba(53, 53, 53, 0.75);
    -moz-box-shadow: 0px 1px 2px 1px rgba(48, 48, 48, 0.75);
  }
  :host-context([data-theme=light]) :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link .menu-modal-card:hover .modal-card-title {
    color: aqua;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .nav-bar {
    height: 80px;
  }
  .nav-bar .nav-bar-left-side .nav-bar-image-link .nav-bar-image {
    scale: 100%;
  }
  .nav-bar .nav-bar-right-side {
    margin-left: 10px;
    width: 60%;
  }
  .nav-bar .nav-bar-right-side .nav-bar-links {
    display: none;
  }
  .nav-bar .nav-bar-right-side .nav-bar-button-container .nav-bar-button {
    scale: 100%;
    margin-left: 320px;
  }
  .nav-bar .nav-bar-right-side .burger-menu {
    display: flex;
    flex-direction: column;
    scale: 100%;
    background-color: #242424;
    height: 40px;
    width: 45px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    gap: 3px;
    margin-left: 280px;
    color: #fff;
    font-size: 25px;
  }
  .nav-bar .open-modal {
    display: none;
  }
  .nav-bar .menu-modal {
    display: none;
    position: fixed;
    top: 80px;
    width: 480px;
    height: 100vh;
    background-color: #181818;
    z-index: 100;
    transform: translateX(280px);
  }
  .nav-bar .menu-modal.menu-open {
    display: block;
  }
  .nav-bar .menu-modal .menu-modal-content {
    height: 360px;
  }
  .nav-bar .menu-modal .menu-modal-content.expanded {
    height: 500px;
  }
  .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container {
    height: auto;
    width: 100%;
    list-style: none;
  }
  .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container {
    height: 70px;
    border-bottom: solid 1px #ddd;
    display: flex;
    align-items: center;
    margin-right: 100px;
  }
  .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container .menu-modal-link {
    text-decoration: none;
  }
  .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container .menu-modal-link .menu-modal-link-text {
    color: rgb(172, 172, 172);
    transition: 500ms;
    font-size: 18px;
    width: 130px;
  }
  .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container .menu-modal-link .menu-modal-link-text:hover {
    color: #fff;
  }
  .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container .menu-modal-link-icon {
    color: #ddd;
    margin-left: 220px;
    font-size: 20px;
  }
  .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container.no-border {
    border-bottom: none;
  }
  .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .dropdown-content {
    list-style: none;
    margin-top: 1px;
    margin-left: 1px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    width: 200px;
    transform: translateX(-30px);
  }
  .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .dropdown-content a {
    text-decoration: none;
    color: #bbb;
    font-size: 16px;
  }
  .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .dropdown-content a:hover {
    color: #fff;
  }
  .nav-bar .menu-modal .menu-modal-cards-container {
    margin-top: 10px;
    height: 370px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
  }
  .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-container-title-section {
    width: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-container-title-section .menu-modal-cards-container-line {
    border: solid 1px rgb(72, 72, 72);
    background-color: rgb(72, 72, 72);
    width: 200px;
    height: 1px;
  }
  .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-container-title-section .menu-modal-cards-container-title {
    color: #bdbdbd;
    font-size: 18px;
  }
  .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section {
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 270px;
  }
  .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link {
    text-decoration: none;
  }
  .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link .menu-modal-card {
    border: solid 1px black;
    border-radius: 10px;
    width: 115px;
    height: 115px;
    color: #adadad;
    background-color: #21222e;
    text-decoration: none;
    transition: 500ms;
  }
  .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link .menu-modal-card:hover {
    box-shadow: 0px 1px 2px 1px rgba(133, 133, 133, 0.75);
    -webkit-box-shadow: 0px 1px 2px 1px rgba(133, 133, 133, 0.75);
    -moz-box-shadow: 0px 1px 2px 1px rgba(133, 133, 133, 0.75);
  }
  .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link .menu-modal-card:hover .modal-card-icon {
    color: rgb(72, 115, 255);
  }
  .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link .menu-modal-card:hover .modal-card-title {
    color: #fff;
  }
  .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link .menu-modal-card .modal-card-icon {
    font-size: 25px;
    margin-left: 15px;
    margin-top: 10px;
    transition: 500ms;
  }
  .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link .menu-modal-card .modal-card-title {
    transition: 500ms;
    font-size: 13px;
    margin-left: 15px;
    margin-top: 30px;
  }
  .nav-bar .menu-open {
    display: block;
  }
  .nav-bar .menu-modal-overlay.open {
    display: block;
  }
  :host-context([data-theme=light]) .nav-bar .nav-bar-right-side .burger-menu {
    background-color: #fff;
    color: #000;
    border: solid 1px black;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal {
    background-color: #fff;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container {
    border-bottom: solid 1px #000;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container .menu-modal-link .menu-modal-link-text {
    color: rgb(57, 57, 57);
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container .menu-modal-link .menu-modal-link-text:hover {
    color: #000;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container .menu-modal-link-icon {
    color: #333;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .dropdown-content a {
    color: #333;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .dropdown-content a:hover {
    color: #000;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-container-title-section .menu-modal-cards-container-line {
    border: solid 1px rgb(33, 33, 33);
    background-color: rgb(30, 29, 29);
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-container-title-section .menu-modal-cards-container-title {
    color: #000;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link .menu-modal-card {
    border: solid 1px white;
    color: #000;
    background-color: #ddd;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link .menu-modal-card:hover {
    box-shadow: 0px 1px 2px 1px rgba(69, 69, 69, 0.75);
    -webkit-box-shadow: 0px 1px 2px 1px rgba(53, 53, 53, 0.75);
    -moz-box-shadow: 0px 1px 2px 1px rgba(48, 48, 48, 0.75);
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link .menu-modal-card:hover .modal-card-title {
    color: aqua;
  }
}
@media screen and (max-width: 480px) {
  .nav-bar {
    height: 80px;
  }
  .nav-bar .nav-bar-left-side .nav-bar-image-link .nav-bar-image {
    scale: 100%;
  }
  .nav-bar .nav-bar-right-side {
    margin-left: 10px;
    width: 60%;
  }
  .nav-bar .nav-bar-right-side .nav-bar-links {
    display: none;
  }
  .nav-bar .nav-bar-right-side .nav-bar-button-container .nav-bar-button {
    scale: 100%;
    margin-left: 120px;
  }
  .nav-bar .nav-bar-right-side .burger-menu {
    display: flex;
    flex-direction: column;
    scale: 100%;
    background-color: #242424;
    height: 40px;
    width: 45px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    gap: 3px;
    margin-left: 80px;
    color: #fff;
    font-size: 25px;
  }
  .nav-bar .open-modal {
    display: none;
  }
  .nav-bar .menu-modal {
    display: none;
    position: fixed;
    top: 80px;
    width: 480px;
    height: 100vh;
    background-color: #181818;
    z-index: 100;
  }
  .nav-bar .menu-modal.menu-open {
    display: block;
  }
  .nav-bar .menu-modal .menu-modal-content {
    height: 360px;
  }
  .nav-bar .menu-modal .menu-modal-content.expanded {
    height: 500px;
  }
  .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container {
    height: auto;
    width: 100%;
    list-style: none;
  }
  .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container {
    height: 70px;
    border-bottom: solid 1px #ddd;
    display: flex;
    align-items: center;
    margin-right: 100px;
  }
  .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container .menu-modal-link {
    text-decoration: none;
  }
  .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container .menu-modal-link .menu-modal-link-text {
    color: rgb(172, 172, 172);
    transition: 500ms;
    font-size: 18px;
    width: 130px;
  }
  .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container .menu-modal-link .menu-modal-link-text:hover {
    color: #fff;
  }
  .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container .menu-modal-link-icon {
    color: #ddd;
    margin-left: 220px;
    font-size: 20px;
  }
  .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container.no-border {
    border-bottom: none;
  }
  .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .dropdown-content {
    list-style: none;
    margin-top: 1px;
    margin-left: 1px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    width: 200px;
    transform: translateX(-30px);
  }
  .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .dropdown-content a {
    text-decoration: none;
    color: #bbb;
    font-size: 16px;
  }
  .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .dropdown-content a:hover {
    color: #fff;
  }
  .nav-bar .menu-modal .menu-modal-cards-container {
    margin-top: 10px;
    height: 370px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
  }
  .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-container-title-section {
    width: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-container-title-section .menu-modal-cards-container-line {
    border: solid 1px rgb(72, 72, 72);
    background-color: rgb(72, 72, 72);
    width: 200px;
    height: 1px;
  }
  .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-container-title-section .menu-modal-cards-container-title {
    color: #bdbdbd;
    font-size: 18px;
  }
  .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section {
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 270px;
  }
  .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link {
    text-decoration: none;
  }
  .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link .menu-modal-card {
    border: solid 1px black;
    border-radius: 10px;
    width: 115px;
    height: 115px;
    color: #adadad;
    background-color: #21222e;
    text-decoration: none;
    transition: 500ms;
  }
  .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link .menu-modal-card:hover {
    box-shadow: 0px 1px 2px 1px rgba(133, 133, 133, 0.75);
    -webkit-box-shadow: 0px 1px 2px 1px rgba(133, 133, 133, 0.75);
    -moz-box-shadow: 0px 1px 2px 1px rgba(133, 133, 133, 0.75);
  }
  .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link .menu-modal-card:hover .modal-card-icon {
    color: rgb(72, 115, 255);
  }
  .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link .menu-modal-card:hover .modal-card-title {
    color: #fff;
  }
  .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link .menu-modal-card .modal-card-icon {
    font-size: 25px;
    margin-left: 15px;
    margin-top: 10px;
    transition: 500ms;
  }
  .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link .menu-modal-card .modal-card-title {
    transition: 500ms;
    font-size: 13px;
    margin-left: 15px;
    margin-top: 30px;
  }
  .nav-bar .menu-open {
    display: block;
  }
  .nav-bar .menu-modal-overlay.open {
    display: block;
  }
  :host-context([data-theme=light]) .nav-bar .nav-bar-right-side .burger-menu {
    background-color: #fff;
    color: #000;
    border: solid 1px black;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal {
    background-color: #fff;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container {
    border-bottom: solid 1px #000;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container .menu-modal-link .menu-modal-link-text {
    color: rgb(57, 57, 57);
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container .menu-modal-link .menu-modal-link-text:hover {
    color: #000;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .menu-modal-container .menu-modal-link-icon {
    color: #333;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .dropdown-content a {
    color: #333;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-content .menu-modal-links-container .dropdown-content a:hover {
    color: #000;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-container-title-section .menu-modal-cards-container-line {
    border: solid 1px rgb(33, 33, 33);
    background-color: rgb(30, 29, 29);
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-container-title-section .menu-modal-cards-container-title {
    color: #000;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link .menu-modal-card {
    border: solid 1px white;
    color: #000;
    background-color: #ddd;
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link .menu-modal-card:hover {
    box-shadow: 0px 1px 2px 1px rgba(69, 69, 69, 0.75);
    -webkit-box-shadow: 0px 1px 2px 1px rgba(53, 53, 53, 0.75);
    -moz-box-shadow: 0px 1px 2px 1px rgba(48, 48, 48, 0.75);
  }
  :host-context([data-theme=light]) .nav-bar .menu-modal .menu-modal-cards-container .menu-modal-cards-section .menu-modal-card-link .menu-modal-card:hover .modal-card-title {
    color: aqua;
  }
}/*# sourceMappingURL=nav-bar.component.css.map */