<!-- COPYING FROM GENERAL-EDUCATION -->
<app-nav-bar></app-nav-bar>
<div class="body">
     <!-- COPYING HTML -->
     <div class="home-test-mode-container">
        <p class="home-test-mode-container-text">საიტი მუშაობს სატესტო რეჟიმში</p>
    </div>

    <div class="posts-page-title-side">
        <h1 class="posts-page-title">სერვისები</h1>
        <div class="posts-page-blue-line"></div>
    </div>
    <!-- COPYING HTML -->

    <div class="general-education-container">
        <div class="general-education-container-title-side">
            <a class="general-education-link" href="/services/1">
                <div class="general-education-title-side-card">
                    <p class="general-education-container-title">სკოლამდელი განათლება</p>
                </div>               
            </a>
            <a class="general-education-link" href="/services/9">
                <div class="general-education-title-side-card-main">
                    <p class="general-education-container-title">ზოგადი განათლება</p>
                </div>              
            </a>
            <a class="general-education-link" href="/services/3">
                <div class="general-education-title-side-card">
                    <p class="general-education-container-title">პროფესიული განათლება</p>
                </div>            
            </a>
            <a class="general-education-link" href="/services/10">
                <div class="general-education-title-side-card">
                    <p class="general-education-container-title">უმაღლესი განათლება</p>
                </div>           
            </a>
            <a class="general-education-link" href="/services/7">
                <div class="general-education-title-side-card">
                    <p class="general-education-container-title">სხვა</p>
                </div>             
            </a>
        </div>
        <!-- COPYING FROM GENERAL-EDUCATION -->
        <div class="services-container">
              <!-- COPYING CARD FROM POSTS PAGE -->
              <a  class="posts-page-products-card-link"[routerLink]="['/products-service-inside-page', 19]">
                <div class="posts-page-products-card">
                  <div class="posts-page-card-left-side">
                    <img class="posts-page-card-image" src="https://emis-api.emis.ge/storage/media/1088/%E1%83%94%E1%83%9A%E1%83%94%E1%83%A5%E1%83%A2%E1%83%A0%E1%83%9D%E1%83%9C%E1%83%A3%E1%83%9A%E1%83%98-%E1%83%A2%E1%83%94%E1%83%A1%E1%83%A2%E1%83%98%E1%83%A0%E1%83%94%E1%83%91%E1%83%90.webp" alt="Image">
                  </div>
                  <div class="posts-page-card-right-side">
                    <p class="posts-page-card-date">24 ოქტომბერი 2023</p>
                    <h1 class="posts-page-card-title">ელექტრონული ტესტირება</h1>
                    <p class="posts-page-card-description">განათლების მართვის საინფორმაციო სისტემამ უზრუნველყო ელექტრონული ტესტირების ორგანიზება, პროცესის ტექნიკური მხარდაჭერა და მონიტორინგი განათლებისა და მეცნიერების სამინისტროს მიერ ორგანიზებულ კონკურსებსა და გამოცდებში მონაწილეთათვის, კერძოდ:</p>
                    <div class="posts-page-card-link-container">
                      <p class="posts-page-card-link">სრულიად წაკითხვა</p>
                      <i style="margin-top: 7px;" class="bi bi-chevron-right"></i>
                    </div>
                   
                  </div>
                </div>
              </a>
              <a  class="posts-page-products-card-link" [routerLink]="['/products-service-inside-page', 18]">
                <div class="posts-page-products-card">
                  <div class="posts-page-card-left-side">
                    <img class="posts-page-card-image" src="https://emis-api.emis.ge/storage/media/1090/%E1%83%91%E1%83%A3%E1%83%99%E1%83%98;--%E1%83%A1%E1%83%90%E1%83%92%E1%83%90%E1%83%9C%E1%83%9B%E1%83%90%E1%83%9C%E1%83%90%E1%83%97%E1%83%9A%E1%83%94%E1%83%91%E1%83%9A%E1%83%9D-%E1%83%94%E1%83%9A%E1%83%94%E1%83%A5%E1%83%A2%E1%83%A0%E1%83%9D%E1%83%9C%E1%83%A3%E1%83%9A%E1%83%98-%E1%83%98%E1%83%9C%E1%83%A2%E1%83%94%E1%83%A0%E1%83%90%E1%83%A5%E1%83%A2%E1%83%98%E1%83%A3%E1%83%9A%E1%83%98-%E1%83%97%E1%83%90%E1%83%9B%E1%83%90%E1%83%A8%E1%83%94%E1%83%91%E1%83%98_%E1%83%A1%E1%83%98%E1%83%9B%E1%83%A3%E1%83%9A%E1%83%90%E1%83%AA%E1%83%98%E1%83%94%E1%83%91%E1%83%98.webp" alt="Image">
                  </div>
                  <div class="posts-page-card-right-side">
                    <p class="posts-page-card-date">24 ოქტომბერი 2023</p>
                    <h1 class="posts-page-card-title">ბუკი; -საგანმანათლებლო ელექტრონული ინტერაქტიული თამაშები/სიმულაციები</h1>
                    <p class="posts-page-card-description">პროექტის მიზანია:</p>
                    <div class="posts-page-card-link-container">
                      <p class="posts-page-card-link">სრულიად წაკითხვა</p>
                      <i style="margin-top: 7px;" class="bi bi-chevron-right"></i>
                    </div>
                   
                  </div>
                </div>
              </a>
              <a  class="posts-page-products-card-link"[routerLink]="['/products-service-inside-page', 15]">
                <div class="posts-page-products-card">
                  <div class="posts-page-card-left-side">
                    <img class="posts-page-card-image" src="https://emis-api.emis.ge/storage/media/1173/screenshot-2024-04-17-at-144744-664af6ee7fba7-(2).webp" alt="Image">
                  </div>
                  <div class="posts-page-card-right-side">
                    <p class="posts-page-card-date">24 ოქტომბერი 2023</p>
                    <h1 class="posts-page-card-title">სკოლების ერთიან შიდა ქსელში ჩართვა (ინტერნეტიზაცია)</h1>
                    <p class="posts-page-card-description">სკოლების ერთიან შიდა ქსელში ჩართვა (ინტერნეტიზაცია)</p>
                    <div class="posts-page-card-link-container">
                      <p class="posts-page-card-link">სრულიად წაკითხვა</p>
                      <i style="margin-top: 7px;" class="bi bi-chevron-right"></i>
                    </div>
                   
                  </div>
                </div>
              </a>
              <!-- COPYING CARD FROM POSTS PAGE -->
        </div>
    </div>
</div>

 
 <app-footer></app-footer>