<app-nav-bar></app-nav-bar>
<div style=" height: 630px;" class="body">
     <!-- COPYING HTML -->
     <div class="home-test-mode-container">
        <p class="home-test-mode-container-text">საიტი მუშაობს სატესტო რეჟიმში</p>
    </div>

    <div class="posts-page-title-side">
        <h1 class="posts-page-title">სამართებლივი აქტები</h1>
        <div class="posts-page-blue-line"></div>
    </div>
    <!-- COPYING HTML -->
     <!-- COPYING FROM PUBLIC INFO PAGE -->
       <!-- 2024-->
    <div class="public-info-page-nav-bar">
         <!-- 2024 -->
         <a class="public-info-nav-bar-link" [routerLink]="['/legalActs', 2019]">
            <div class="public-info-nav-bar-cube-text-container">
                <div style="background-color: rgb(17, 92, 255); width: 50px; height: 45px;
                border-radius: 16px; transform: translateY(-12px);" class="public-info-nav-bar-cube">
               <p class="public-info-nav-bar-text">2019</p>
                </div>
                
            </div>         
        </a>
         <!-- 2024 -->
         <!-- 2023 -->
        <a class="public-info-nav-bar-link" [routerLink]="['/legalActs', 2020]">
            <div class="public-info-nav-bar-cube-text-container">
                <div class="public-info-nav-bar-cube">
               
                </div>
                <p class="public-info-nav-bar-text">2020</p>
            </div>         
        </a>
         <!-- 2023 -->
         <!-- 2022 -->
         <a class="public-info-nav-bar-link"[routerLink]="['/legalActs', 2021]">
            <div class="public-info-nav-bar-cube-text-container">
                <div  class="public-info-nav-bar-cube">
                   
                </div>
                <p class="public-info-nav-bar-text">2021</p>
            </div>         
        </a>
         <!-- 2022 -->
         <!-- 2021 -->
         <a class="public-info-nav-bar-link" [routerLink]="['/legalActs', 2022]">
            <div class="public-info-nav-bar-cube-text-container">
                <div  class="public-info-nav-bar-cube">
                    
                </div>
                <p class="public-info-nav-bar-text">2022</p>
            </div>         
        </a>
         <!-- 2021 -->
         <!-- 2020 -->
         <a class="public-info-nav-bar-link" [routerLink]="['/legalActs', 2023]">
            <div class="public-info-nav-bar-cube-text-container">
                <div class="public-info-nav-bar-cube">
               
                </div>
                <p class="public-info-nav-bar-text">2023</p>
            </div>         
        </a>
         <!-- 2020 -->
 <hr class="public-info-nav-bar-line">
 <!-- MAIN -->
    </div>
      <!-- COPYING FROM PUBLIC INFO PAGE -->

      <div style=" height: 240px;" class="legal-acts-container">
  
        <a class="legal-acts-link" href="https://emis-api.emis.ge/storage/media/327/1.1-53_23.04.2019.pdf">
            <div class="legal-acts-card">
                <div class="legal-acts-card-title-section">
                    <h1 class="legal-acts-card-title">ბრძანება №1.1-53 - 23.04.2019</h1>                    
            <div class="legal-acts-cube">
                <div class="legal-acts-icon"><i class="bi bi-arrow-up-right"></i></div>
             </div>
                </div>      
            <p class="legal-acts-card-description">პროფესიული მომზადების/პროფესიული გადამზადების პროგრამაზე აპლიკანტთა მიღების გამოცხადების მიზნით ელექტრონულ სისტემაში განსათავსებელი ინფორმაციის ფორმის განსაზღვრის შესახებ ბრძანება</p>         
            </div>          
           </a>

       
      </div>
</div>
<app-footer></app-footer>
