<app-nav-bar></app-nav-bar>
<div class="body">
    <!-- COPYING HTML -->
    <div class="home-test-mode-container">
        <p class="home-test-mode-container-text">საიტი მუშაობს სატესტო რეჟიმში</p>
    </div>

    <div class="posts-page-title-side">
        <h1 class="posts-page-title">მისია, მიზნები, სტრატეგია</h1>
        <div class="posts-page-blue-line"></div>
    </div>
    <!-- COPYING HTML -->
  <div class="goals-page-container">
         <div class="goals-page-first-section">
           <h1 class="goals-page-first-section-title">ჩვენი საქმიანობის შესახებ</h1>
           <p class="goals-page-first-section-title-description">განათლების მართვის საინფორმაციო სისტემა (EMIS) 2012 წელს შეიქმნა. </p>
           <p class="goals-page-first-section-description">EMIS-ის მისიას წარმოადგენს განათლების სფეროში თანამედროვე ინფორმაციულ – საკომუნიკაციო ტექნოლოგიების დანერგვა, მათი მონიტორინგი/შეფასება და ხელმისაწვდომობის უზრუნველყოფა. ამასთან პროფესიული საგანმანათლებლო საქმიანობის განხორციელების გზით, ინფორმაციული ტექნოლოგიების სფეროში, მაღალკვალიფიციური კადრების მომზადება/გადამზადება, ასევე ახალი ელექტრონული მართვის სისტემებისა და ბაზების შექმნა. განათლების მართვის საინფორმაციო სისტემის სტრატეგიას წაროადგენს საგანმანათლებლო სივრცეში, თანამედროვე საინფორმაციო – საკომუნიკაციო ტექნოლოგიების დანერგვის გზით, ხელი შეუწყოს განათლებისა და მეცნიერების სამინისტროს გამართულ ფუნქციონირებას.</p>
         </div>
         <div class="goals-page-second-section">
            <h1 class="goals-page-second-section-title">მიზნები</h1>
            <p class="goals-page-second-section-title-description">მართვის სისტემის მიზანია, საქართველოს განათლების სისტემაში:</p>
            <div class="goals-page-second-section-description-container">
                 <div class="goals-page-icon"><i class="bi bi-chevron-right"></i></div>
                 <p class="goals-page-second-section-description">ინფორმაციულ-საკომუნიკაციო ტექნოლოგიების განვითარება და სასწავლო პროცესში მათი ხელმისაწვდომობის უზრუნველყოფა;</p>
            </div>
            <!-- start COPYING -->
            <div class="goals-page-second-section-description-container">
                <div class="goals-page-icon"><i class="bi bi-chevron-right"></i></div>
                <p class="goals-page-second-section-description">მართვის საინფორმაციო სისტემების განვითარება;</p>
           </div>
           <div class="goals-page-second-section-description-container">
            <div class="goals-page-icon"><i class="bi bi-chevron-right"></i></div>
            <p class="goals-page-second-section-description">გადაწყვეტილების მიღების პროცესების ინფორმაციული უზრუნველყოფა;</p>
       </div>
       <div class="goals-page-second-section-description-container">
        <div class="goals-page-icon"><i class="bi bi-chevron-right"></i></div>
        <p class="goals-page-second-section-description">საგანმანათლებლო სტატისტიკის წარმოება და გავრცელება.</p>
   </div>
            <!--  end COPYING -->
         </div>
         <div class="goals-page-third-section">
            <h1 class="goals-page-third-section-title">სსიპ – განათლების მართვის საინფორმაციო სისტემის ფუნქციები</h1>
            <p class="goals-page-third-section-title-description">მართვის სისტემის ფუნქციებია:</p>
            <!-- start COPYING -->
            <div class="goals-page-second-section-description-container">
                <div class="goals-page-icon"><i class="bi bi-chevron-right"></i></div>
                <p class="goals-page-second-section-description">განათლების სისტემის განვითარების ხელშეწყობა ამ სისტემაში ერთიანი საინფორმაციო საგანმანათლებლო სივრცის ფორმირებით;</p>
           </div>
           <div class="goals-page-second-section-description-container">
            <div class="goals-page-icon"><i class="bi bi-chevron-right"></i></div>
            <p class="goals-page-second-section-description">თანამედროვე ინფორმაციული ტექნოლოგიების დანერგვა და შესაბამისი ინფრასტრუქტურის განვითარების ხელშეწყობა;</p>
       </div>
       <div class="goals-page-second-section-description-container">
        <div class="goals-page-icon"><i class="bi bi-chevron-right"></i></div>
        <p class="goals-page-second-section-description">მართვის პროცესების ინფორმაციული უზრუნველყოფა და სტატისტიკის წარმოება;</p>
   </div>
   <div class="goals-page-second-section-description-container1"> <!-- 1 -->
    <div class="goals-page-icon"><i class="bi bi-chevron-right"></i></div>
    <p class="goals-page-second-section-description">სამინისტროს მიერ დადგენილი წესით, საქართველოს განათლების სისტემაში არსებული მონაცემების ელექტრონულად შეგროვების, შენახვის, დამუშავების, ანალიზისა და პროცესების ავტომატიზაციის უზრუნველყოფის მიზნით, განათლების მართვის საინფორმაციო სისტემების შექმნა, დანერგვა და ადმინისტრირება;</p>
</div>
<div class="goals-page-second-section-description-container">
    <div class="goals-page-icon"><i class="bi bi-chevron-right"></i></div>
    <p class="goals-page-second-section-description">განათლების სისტემის ძირითადი ინდიკატორების შემუშავება;</p>
</div>
<div class="goals-page-second-section-description-container1"> <!-- 1 -->
    <div class="goals-page-icon"><i class="bi bi-chevron-right"></i></div>
    <p class="goals-page-second-section-description">საქართველოს კანონმდებლობით დადგენილი წესით მოსწავლეთა, მოსწავლეთა მშობლების, სტუდენტთა/პროფესიულ სტუდენტთა, კურსდამთავრებულთა და საგანმანათლებლო დაწესებულებაში დასაქმებულ პირთა პერსონალური მონაცემების აღრიცხვის უზრუნველყოფა;</p>
</div>
<div class="goals-page-second-section-description-container2">  <!-- 2 -->
    <div class="goals-page-icon"><i class="bi bi-chevron-right"></i></div>
    <p class="goals-page-second-section-description">ზოგადი განათლების მართვის საინფორმაციო სისტემაში, საჯარო სკოლის დირექტორის, დირექტორის მოვალეობის შემსრულებლის, დირექტორის/დირექტორის მოვალეობის შემსრულებლის მიერ თავისი უფლებამოსილების განხორციელების შეუძლებლობის შემთხვევაში – მისი მოვალეობის შემსრულებელი მოადგილის, ხოლო დირექტორის მოადგილის თანამდებობის არარსებობის შემთხვევაში – სკოლის სხვა თანამშრომლის, სამეურვეო საბჭოს წევრების უფლებამოსილებისა და მათი უფლებამოსილების შეწყვეტის სამინისტროს მიერ დადგენილი წესით რეგისტრაციაში გატარება;</p>
</div>
<div class="goals-page-second-section-description-container1">  <!-- 1 -->
    <div class="goals-page-icon"><i class="bi bi-chevron-right"></i></div>
    <p class="goals-page-second-section-description">სრული ზოგადი განათლების დაფინანსების მიზნით,  ერთ მოსწავლეზე გათვლილი ფინანსური ნორმატივისა და მისი შესაბამისი სტანდარტული და გაზრდილი ვაუჩერის ოდენობების შესაბამისად, სამინისტროს მიერ დადგენილი წესით, სამინისტროსთვის შესაბამისი ინფორმაციის წარდგენა;</p>
</div>
<div class="goals-page-second-section-description-container1">   <!-- 1 -->
    <div class="goals-page-icon"><i class="bi bi-chevron-right"></i></div>
    <p class="goals-page-second-section-description">სამინისტროს მიერ დადგენილი წესით, პროფესიულ საგანმანათლებლო პროგრამებზე მიღების ორგანიზება, პროფესიულ საგანმანათლებლო პროგრამებზე  ჩარიცხვის მსურველ პირთა რეგისტრაცია და აღნიშნული პროცესის კოორდინაცია;</p>
</div>
<div class="goals-page-second-section-description-container2">
    <div class="goals-page-icon"><i class="bi bi-chevron-right"></i></div>
    <p class="goals-page-second-section-description">პროფესიული საგანმანათლებლო პროგრამების განმახორციელებელი დაწესებულებებისათვის ვაუჩერული/მოდულებისგან შემდგარი პროფესიული საგანმანათლებლო პროგრამების შემადგენელი მოდულის ვაუჩერული დაფინანსების ფარგლებში, თანხის პირველად და კვარტალურად გადარიცხვის მიზნით,  საქართველოს განათლების, მეცნიერებისა და ახალგაზრდობის მინისტრის (შემდგომ – მინისტრი) ინდივიდუალური ადმინისტრაციულ-სამართლებრივი აქტით განსაზღვრულ ვადებში, სამინისტროსთვის შესაბამისი ინფორმაციის წარდგენა;</p>
</div>
<div class="goals-page-second-section-description-container">
    <div class="goals-page-icon"><i class="bi bi-chevron-right"></i></div>
    <p class="goals-page-second-section-description">ანონმდებლობით დადგენილი წესით, პროფესიული მომზადების/პროფესიული გადამზადების ელექტრონული სისტემის შექმნა და ადმინისტრირება;</p>
</div>
<div class="goals-page-second-section-description-container2">
    <div class="goals-page-icon"><i class="bi bi-chevron-right"></i></div>
    <p class="goals-page-second-section-description">სახელმწიფო სასწავლო გრანტისა და სახელმწიფო სასწავლო სამაგისტრო გრანტის, ასევე სამინისტროს მიერ გაცემული პროგრამული დაფინანსების, მათ შორის, იმ პრიორიტეტულ საგანმანათლებლო პროგრამებზე, რომლებზე სწავლას სრულად ანაზღაურებს სახელმწიფო,  გადარიცხვის მიზნით, სამინისტროს მიერ დადგენილი წესით, თითოეული უმაღლესი საგანმანათლებლო დაწესებულებისათვის გადასარიცხი თანხის ოდენობის, მინისტრის ინდივიდუალური ადმინისტრაციულ-სამართლებრივი აქტით დადგენილ ვადაში, სამინისტროსთვის წარდგენა;</p>
</div>
<div class="goals-page-second-section-description-container1">
    <div class="goals-page-icon"><i class="bi bi-chevron-right"></i></div>
    <p class="goals-page-second-section-description">საქართველოს კანონმდებლობით დადგენილი წესით, საქართველოში ერთი უმაღლესი საგანმანათლებლო დაწესებულებიდან სხვა უმაღლეს საგანმანათლებლო დაწესებულებაში სტუდენტების მობილობის პროცესისა და ამ მიზნით შექმნილი ელექტრონული პორტალის ადმინისტრირების უზრუნველყოფა;</p>
</div>
<div class="goals-page-second-section-description-container1">
    <div class="goals-page-icon"><i class="bi bi-chevron-right"></i></div>
    <p class="goals-page-second-section-description">სამინისტროს მიერ დადგენილი წესით ერთიანი ეროვნული გამოცდებისათვის უმაღლესი საგანმანათლებლო დაწესებულების მიერ წარმოსადგენი ანკეტა-კითხვარების ელექტრონული სისტემის შექმნის, ადმინისტრირების და დამოწმების უზრუნველყოფა; ასევე, ერთიანი ეროვნული გამოცდების შედეგების საფუძველზე აბიტურიენტთა ჩარიცხვის უფლების მინიჭების პროცესის ხელშეწყობა;</p>
</div>
<div class="goals-page-second-section-description-container1">
    <div class="goals-page-icon"><i class="bi bi-chevron-right"></i></div>
    <p class="goals-page-second-section-description">მასწავლებლის მომზადების საგანმანათლებლო პროგრამაზე პირთა ჩარიცხვის მიზნით წარმოსადგენი ანკეტა-კითხვარების სპეციალური ელექტრონული სისტემის შექმნის, ადმინისტრირების და დამოწმების უზრუნველყოფა;</p>
</div>
<div class="goals-page-second-section-description-container1">
    <div class="goals-page-icon"><i class="bi bi-chevron-right"></i></div>
    <p class="goals-page-second-section-description">სამინისტროს მიერ დადგენილი წესით მაგისტრატურის საფეხურზე უმაღლესი საგანმანათლებლო დაწესებულებების მხრიდან სპეციალურ ანკეტა-კითხვარებში ასახული ინფორმაციის გადამოწმებისა და მასზე შესაბამისი რეაგირების უზრუნველყოფა;</p>
</div>
<div class="goals-page-second-section-description-container1">
    <div class="goals-page-icon"><i class="bi bi-chevron-right"></i></div>
    <p class="goals-page-second-section-description">საქართველოს კანონმდებლობით დადგენილი წესით, კომპეტენციის ფარგლებში, სახელმწიფო დაფინანსების მიღების უფლების მქონე პირთა ან/და გადასარიცხი თანხების ოდენობების შესახებ ინფორმაციის წარმოების/დამუშავების და დაინტერესებული პირებისათვის მიწოდების უზრუნველყოფა;</p>
</div>
<div class="goals-page-second-section-description-container1">
    <div class="goals-page-icon"><i class="bi bi-chevron-right"></i></div>
    <p class="goals-page-second-section-description">საქართველოს კანონმდებლობით დადგენილი წესით, პირის მიერ მიღებული განათლების აღიარების/ნამდვილობის დადასტურების პროცესის ხელშეწყობის უზრუნველყოფის მიზნით დაწესებულების საგანმანათლებლო საქმიანობის შესახებ და პირის კანონიერი ჩარიცხვის შესახებ ინფორმაციის მოძიება;</p>
</div>
<div class="goals-page-second-section-description-container1">
    <div class="goals-page-icon"><i class="bi bi-chevron-right"></i></div>
    <p class="goals-page-second-section-description">ავტორიზებული, აგრეთვე, ლიკვიდირებული/საქმიანობაშეწყვეტილი საგანმანათლებლო დაწესებულებების სტატუსის შესახებ ინფორმაციის დამუშავების და დაინტერესებული პირებისათვის მიწოდების უზრუნველყოფის მიზნით, ინფორმაციის დამუშავება, სპეციალური ელექტრონული პლატფორმის შექმნა და ადმინისტრირება;</p>
</div>
<div class="goals-page-second-section-description-container">
    <div class="goals-page-icon"><i class="bi bi-chevron-right"></i></div>
    <p class="goals-page-second-section-description">ზოგადსაგანმანათლებლო დაწესებულების სახელმძღვანელოს/სერიის შერჩევისა და გრიფის მინიჭების პროცესში, სამინისტროს მიერ დადგენილი წესით, მონაწილეობა;</p>
</div>
<div class="goals-page-second-section-description-container">
    <div class="goals-page-icon"><i class="bi bi-chevron-right"></i></div>
    <p class="goals-page-second-section-description">პირველ კლასში ჩასარიცხი მოსწავლის ელექტრონული რეგისტრაციის პროცესის უზრუნველყოფა;</p>
</div>
<div class="goals-page-second-section-description-container">
    <div class="goals-page-icon"><i class="bi bi-chevron-right"></i></div>
    <p class="goals-page-second-section-description">სწავლა/სწავლების პროცესში ინოვაციური საგანმანათლებლო ტექნოლოგიების დანერგვის ხელშეწყობა;</p>
</div>
<div class="goals-page-second-section-description-container">
    <div class="goals-page-icon"><i class="bi bi-chevron-right"></i></div>
    <p class="goals-page-second-section-description">საჯარო სკოლის დირექტორის შესარჩევი კონკურსის პროცესში, სამინისტროს მიერ დადგენილი წესით, მონაწილეობა;</p>
</div>
<div class="goals-page-second-section-description-container1">
    <div class="goals-page-icon"><i class="bi bi-chevron-right"></i></div>
    <p class="goals-page-second-section-description">მე-12 კლასში შემავალი საგნის/საგნების (ქართული ენა და ლიტერატურა, მათემატიკა, ისტორია, ინგლისური ენა, სამოქალაქო თავდაცვა და უსაფრთხოება) ზოგადსაგანმანათლებლო სასწავლო პროგრამის/პროგრამების ექსტერნატის ფორმით დაძლევის გამოცდის ცენტრალიზებულად, ელექტრონული ფორმით ჩატარება;</p>
</div>
<div class="goals-page-second-section-description-container1">
    <div class="goals-page-icon"><i class="bi bi-chevron-right"></i></div>
    <p class="goals-page-second-section-description">სრული ზოგადი განათლებისა და საბაზო ზოგადი განათლების დამადასტურებელი დოკუმენტების – ატესტატებისა და მათი დუბლიკატების გასაცემად კანონმდებლობით დადგენილი წესით მონაცემთა ბაზების ფორმირება;</p>
</div>
<div class="goals-page-second-section-description-container1">
    <div class="goals-page-icon"><i class="bi bi-chevron-right"></i></div>
    <p class="goals-page-second-section-description">მკაცრი აღრიცხვის დოკუმენტების ბრუნვის ორგანიზება, კონტროლი და გამოსაყენებლად უვარგისი მკაცრი აღრიცხვის დოკუმენტების ექსპერტიზისა და უტილიზაციისათვის მომზადება;</p>
</div>
<div class="goals-page-second-section-description-container">
    <div class="goals-page-icon"><i class="bi bi-chevron-right"></i></div>
    <p class="goals-page-second-section-description">პროფესიული განათლების დამადასტურებელი დოკუმენტების დუბლიკატების სამინისტროს მიერ დადგენილი წესით გაცემა;</p>
</div>
<div class="goals-page-second-section-description-container1">
    <div class="goals-page-icon"><i class="bi bi-chevron-right"></i></div>
    <p class="goals-page-second-section-description">სამინისტროში და მის სისტემაში შემავალ ერთეულებში, ასევე აჭარისა და აფხაზეთის ავტონომიური რესპუბლიკის განათლების სამინისტროსა და მათ სისტემაში შემავალ ორგანოებში ელექტრონული დოკუმენტბრუნვის და ელექტრონული ხელმოწერის სისტემის დანერგვა;</p>
</div>
<div class="goals-page-second-section-description-container1">
    <div class="goals-page-icon"><i class="bi bi-chevron-right"></i></div>
    <p class="goals-page-second-section-description">იმ პირთა აღრიცხვა, რომლებსაც სასამართლოს კანონიერ ძალაში შესული გამამტყუნებელი განაჩენის ან/და კანონმდებლობის საფუძველზე ჩამოერთვათ პედაგოგიური და საგანმანათლებლო დაწესებულებაში საქმიანობის უფლება;</p>
</div>
<div class="goals-page-second-section-description-container">
    <div class="goals-page-icon"><i class="bi bi-chevron-right"></i></div>
    <p class="goals-page-second-section-description">მართვის სისტემაში შრომის უსაფრთხოების უზრუნველყოფა;</p>
</div>
<div class="goals-page-second-section-description-container">
    <div class="goals-page-icon"><i class="bi bi-chevron-right"></i></div>
    <p class="goals-page-second-section-description">ღკანონმდებლობით დადგენილი წესით, ადრეული და სკოლამდელი აღზრდისა და განათლების დროებითი მართვის საინფორმაციო სისტემის შექმნა და ადმინისტრირება;</p>
</div>
<div class="goals-page-second-section-description-container2">
    <div class="goals-page-icon"><i class="bi bi-chevron-right"></i></div>
    <p class="goals-page-second-section-description">საქართველოს კანონმდებლობის შესაბამისად დაფუძნებული იურიდიული პირების, რომლებიც უზრუნველყოფენ ადრეული აღზრდისა და განათლების მომსახურების ან/და სკოლამდელი აღზრდისა და განათლების მომსახურების მიწოდებას ან/და მხოლოდ სასკოლო მზაობის პროგრამის განხორციელებას, პირველადი რეგისტრაციის მიზნით, შესაბამისი რეგისტრაციის ელექტრონული სისტემის შექმნა და ადმინისტრირება;</p>
</div>
<div class="goals-page-second-section-description-container">
    <div class="goals-page-icon"><i class="bi bi-chevron-right"></i></div>
    <p class="goals-page-second-section-description">თავის კომპეტენციაში შემავალი, კანონმდებლობით გათვალისწინებული სხვა უფლებამოსილებების განხორციელება.</p>
</div>
            <!-- end COPYING -->

         </div>
  </div>

</div>
<app-footer></app-footer>