<app-nav-bar></app-nav-bar>
<div class="body">
     <!-- COPYING HTML -->
     <div class="home-test-mode-container">
        <p class="home-test-mode-container-text">საიტი მუშაობს სატესტო რეჟიმში</p>
    </div>

    <div class="posts-page-title-side">
        <h1 class="posts-page-title">პროდუქტები</h1>
        <div class="posts-page-blue-line"></div>
    </div>
    <!-- COPYING HTML -->
       <div class="general-education-container">
        <div class="general-education-container-title-side">
            <a class="general-education-link" href="/projects/1">
                <div class="general-education-title-side-card">
                    <p class="general-education-container-title">სკოლამდელი განათლება</p>
                </div>               
            </a>
            <a class="general-education-link" href="/projects/9">
                <div class="general-education-title-side-card">
                    <p class="general-education-container-title">ზოგადი განათლება</p>
                </div>              
            </a>
            <a class="general-education-link" href="/projects/3">
                <div class="general-education-title-side-card-main">
                    <p class="general-education-container-title">პროფესიული განათლება</p>
                </div>            
            </a>
            <a class="general-education-link" href="/projects/10">
                <div class="general-education-title-side-card">
                    <p class="general-education-container-title">უმაღლესი განათლება</p>
                </div>           
            </a>
            <a class="general-education-link" href="/projects/7">
                <div class="general-education-title-side-card">
                    <p class="general-education-container-title">სხვა</p>
                </div>             
            </a>
        </div>
              <div class="generals-container-body-side">
                <a href="">
                    <div class="generals-card">
                        <p class="generals-card-text">პროფესიული მომზადების და პროფესიული გადამზადების პროგრამები</p>
                             <img class="general-education-card-image" src="https://emis-api.emis.ge/storage/media/1256/profesiuli.jpg" alt="Image">
                             <div class="generals-card-bottom-side">
                                <p class="generals-card-bottom-side-text">ვრცლად</p>
                                <div class="generals-card-icon"><i class="bi bi-chevron-right"></i></div>
                             </div>
                    </div>
                </a>
                <div class="generals-body-side-container">
                    <a href="">
                        <div style="margin-bottom: 15px;" class="generals-second-card">
                            <p class="generals-second-card-text">პროფესიული საგანმანათლებლო პროგრამის განმახორციელებელი დაწესებულებები</p>
                                 <img class="generals-education-second-card-image" src="https://emis-api.emis.ge/storage/media/1239/chamonatvali-patara.jpg" alt="Image">
                                 <div class="generals-second-card-bottom-side">
                                    <p class="generals-second-card-bottom-side-text">ვრცლად</p>
                                    <div class="generals-second-card-icon"><i class="bi bi-chevron-right"></i></div>
                                 </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="generals-second-card">
                            <p class="generals-second-card-text">პროფესიული განათლების მიღების მსურველთა სარეგისტრაციო სისტემა</p>
                                 <img class="generals-education-second-card-image" src="https://emis-api.emis.ge/storage/media/1129/img.webp" alt="Image">
                                 <div class="generals-second-third-bottom-side">
                                    <p class="generals-second-card-bottom-side-text">ვრცლად</p>
                                    <div class="generals-second-card-icon"><i class="bi bi-chevron-right"></i></div>
                                 </div>
                        </div>
                    </a>
                </div>
                <a href="">
                    <div class="generals-card">
                        <p class="generals-card-text-01">პროფესიული განათლების მართვის საინფორმაციო სისტემა</p>
                             <img class="general-education-card-image" src="https://emis-api.emis.ge/storage/media/1171/----_1_1_424x266.webp" alt="Image">
                             <div  class="generals-card-bottom-side">
                                <p id="generalss" class="generals-card-bottom-side-text-01">ვრცლად</p>
                                <div id="generalsss" class="generals-card-icon-01"><i class="bi bi-chevron-right"></i></div>
                             </div>
                    </div>
                </a>
              </div>
              <a href="">
                <div id="generals-card" class="generals-card-third">
                    <p id="text" class="generals-card-text">პროფესიული განათლების ელექტრონული ჟურნალი</p>
                         <img class="general-education-card-image" src="https://emis-api.emis.ge/storage/media/1065/jurn-664af2fd68538.webp" alt="Image">
                         <div id="generals" class="generals-card-bottom-side">
                            <p class="generals-card-bottom-side-text-04">ვრცლად</p>
                            <div class="generals-card-icon-04"><i class="bi bi-chevron-right"></i></div>
                         </div>
                </div>
            </a>
       </div>
</div>
<app-footer></app-footer>