<app-nav-bar></app-nav-bar>
<div class="body">
     <!-- COPYING HTML -->
     <div class="home-test-mode-container">
        <p class="home-test-mode-container-text">საიტი მუშაობს სატესტო რეჟიმში</p>
    </div>

    <div class="posts-page-title-side">
        <h1 class="posts-page-title">პროდუქტები</h1>
        <div class="posts-page-blue-line"></div>
    </div>
    <!-- COPYING HTML -->
       <div class="general-education-container">
        <div class="general-education-container-title-side">
            <a class="general-education-link" href="/projects/1">
                <div class="general-education-title-side-card">
                    <p class="general-education-container-title">სკოლამდელი განათლება</p>
                </div>               
            </a>
            <a class="general-education-link" href="/projects/9">
                <div class="general-education-title-side-card">
                    <p class="general-education-container-title">ზოგადი განათლება</p>
                </div>              
            </a>
            <a class="general-education-link" href="/projects/3">
                <div class="general-education-title-side-card">
                    <p class="general-education-container-title">პროფესიული განათლება</p>
                </div>            
            </a>
            <a class="general-education-link" href="/projects/10">
                <div class="general-education-title-side-card">
                    <p class="general-education-container-title">უმაღლესი განათლება</p>
                </div>           
            </a>
            <a class="general-education-link" href="/projects/7">
                <div class="general-education-title-side-card-main">
                    <p class="general-education-container-title">სხვა</p>
                </div>             
            </a>
        </div>
              <div class="generals-container-body-side">
                <a href="">
                    <div class="generals-card">
                        <p class="generals-card-text">სკოლების საჯარო ვებ-პორტალში ციფრული რუკების ინტეგრირება</p>
                             <img class="general-education-card-image" src="https://emis-api.emis.ge/storage/media/1166/saj_2_425x316.webp" alt="Image">
                             <div class="generals-card-bottom-side">
                                <p class="generals-card-bottom-side-text">ვრცლად</p>
                                <div class="generals-card-icon"><i class="bi bi-chevron-right"></i></div>
                             </div>
                    </div>
                </a>
                <div class="generals-body-side-container">
                    <a href="">
                        <div style="margin-bottom: 15px;" class="generals-second-card">
                            <p class="generals-second-card-text">განათლების გეოსაინფორმაციო სისტემის (GIS) აგება და დანერგვა</p>
                                 <img class="generals-education-second-card-image" src="https://emis-api.emis.ge/storage/media/1168/gis_2_425x316.webp" alt="Image">
                                 <div class="generals-second-card-bottom-side">
                                    <p class="generals-second-card-bottom-side-text">ვრცლად</p>
                                    <div class="generals-second-card-icon"><i class="bi bi-chevron-right"></i></div>
                                 </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="generals-second-card">
                            <p class="generals-second-card-text">საჯარო სკოლების სწრაფი ინტერნეტით უზრუნველყოფა</p>
                                 <img class="generals-education-second-card-image" src="https://emis-api.emis.ge/storage/media/1057/straf-664af3470b7e3.webp" alt="Image">
                                 <div class="generals-second-third-bottom-side">
                                    <p class="generals-second-card-bottom-side-text">ვრცლად</p>
                                    <div class="generals-second-card-icon"><i class="bi bi-chevron-right"></i></div>
                                 </div>
                        </div>
                    </a>
                </div>
                <a href="">
                    <div class="generals-card">
                        <p id="textit" class="generals-card-text00">საჯარო სკოლების ცენტრალიზირებული უკაბელო ქსელით უზრუნველყოფა</p>
                             <img class="general-education-card-image" src="https://emis-api.emis.ge/storage/media/1059/ruka-664af3057f866.webp" alt="Image">
                             <div id="bottom" style=" top: 765px;" class="generals-card-bottom-side">
                                <p id="textone" class="generals-card-bottom-side-text001">ვრცლად</p>
                                <div id="texttwo" class="generals-card-icon001"><i class="bi bi-chevron-right"></i></div>
                             </div>
                    </div>
                </a>
              </div>
       </div>
</div>
<app-footer></app-footer>