<app-nav-bar></app-nav-bar>
<div style="height: 970px;" class="body">
<!-- COPYING HTML -->
<div class="home-test-mode-container">
    <p class="home-test-mode-container-text">საიტი მუშაობს სატესტო რეჟიმში</p>
</div>

<button class="postsDetails-page-back-button" (click)="goBack()">
    <i class="bi bi-arrow-left-short"></i> </button>
<div class="posts-page-title-side">
    <!-- COPYING BUTTON -->
    
    <!-- COPYING BUTTON -->
    <h1 class="posts-page-title">ვაკანსიები</h1>
    <div class="posts-page-blue-line"></div>
</div>
<!-- COPYING HTML -->
 <div class="vacancies-inside-page-container">
    <h1 class="vacancies-inside-page-title">შიდა აუდიტის სამსახურის სტაჟირება - ვაკანსიის N 88075</h1>
    <p class="vacancies-inside-page-date">02 აგვისტო/08 აგვისტო</p>
    <p class="vacancies-inside-page-description">განათლების მართვის საინფორმაციო სისტემის შიდა აუდიტის სამსახურში დაგხვდებათ მეგობრული გარემო და განვითარებაზე ორიენტირებული გუნდი. ანაზღაურებადი სტაჟირების ხანგრძლივობაა 4 თვე.</p>
    <p class="vacancies-inside-page-data">შესასრულებელი ამოცანები და ფუნქციები:</p>
    <p class="vacancies-inside-page-first-data">ა) შიდა აუდიტის სტრატეგიული და წლიური გეგმების მომზადებაში მონაწილეობა და ცალკეული დავალებების შესრულება;</p>
    <p class="vacancies-inside-page-main-data">ბ) შიდა აუდიტის წლიური გეგმით დამტკიცებულ აუდიტორულ შემოწმებაში მონაწილეობის მიღება (შიდა აუდიტორული შემოწმების ეტაპები: აუდიტის დაგეგმვა, განხორციელება, ანგარიშგება და გაცემული რეკომენდაციების შესრულების მონიტორინგი);</p>
    <p class="vacancies-inside-page-main-data">გ) შიდა აუდიტის წლიური ანგარიშის მომზადებაში მონაწილეობის მიღება;</p>
    <p class="vacancies-inside-page-main-data">დ) მართვის სისტემის უფროსის ბრძანებით განსაზღვრულ არაგეგმიურ შიდა აუდიტორულ შემოწმებაში მონაწილეობა;</p>
    <p class="vacancies-inside-page-main-data">ე) შიდა აუდიტის სამსახურის საქმიანობის გაუმჯობესების მიზნით, არსებული კანონმდებლობის, სტანდარტების, მეთოდოლოგიების/ინსტრუქციების, სხვა დაწესებულებების მიდგომების ანალიზი და რეკომენდაციების შემუშავებაში მონაწილეობა;</p>
    <p class="vacancies-inside-page-main-data">ვ) შიდა აუდიტთან დაკავშირებული სამუშაო შეხვედრების, თათბირების ორგანიზება/მონაწილეობის მიღება;</p>
    <p class="vacancies-inside-page-main-data">ზ) შემოსული წერილების, შეტყობინებების, განცხადებების, კომპეტენციის ფარგლებში განხილვა, შესწავლა და შესაბამისი რეაგირება;</p>
    <p class="vacancies-inside-page-main-data">თ) შიდა აუდიტის სამსახურის კომპეტენციის ფარგლებში სხვა დამხმარე ამოცანების შესრულება.</p>
    <p style="margin-top: 20px;" class="vacancies-inside-page-main-data-title">დეტალური ინფორმაცია ვაკანტური ადგილის შესახებ იხილეთ ბმულის  სახით</p>
    <a class="vacancies-inside-page-link" href="https://hr.gov.ge/JobProvider/UserOrgVaks/Details/88075?active=1"><p>https://hr.gov.ge/JobProvider/UserOrgVaks/Details/88075?active=1</p></a>
 </div>
 <!-- COPYING ICONS -->
 <div class="posts-inside-page-links-container">
    <p>გაზიარება:</p>
    <div class="posts-page-icons">
    <div class="vacancies-page-first-icon"><i class="bi bi-facebook" (click)="onFacebookClick()"></i></div>  
    <div class="vacancies-page-second-icon"> <i class="bi bi-linkedin" (click)="onLinkedInClick()"></i>   </div>      
    </div>     
 </div>
 <!-- COPYING ICONS -->
</div>
<app-footer></app-footer>
